[2019-08-12 01:03] CosmoMyzrailGorynych opened #1 "В каждом из компонентов нужно будет реализовать сигнал переключения вкладок, чтобы сохранять результаты редакторов"
In GitLab by @CoMiGo on Aug 18, 2017, 18:33

* [ ]  В редакторе звуков
* [ ]  В редакторе графики
* [ ]  В редакторе комнат
* [ ]  Типов
* [ ]  Модулей (пока нет смысла, на самом деле)

[2019-08-12 01:03] CosmoMyzrailGorynych commented on #1
In GitLab by @CoMiGo on Aug 18, 2017, 18:34

changed the description

[2019-08-12 01:03] CosmoMyzrailGorynych commented on #1
In GitLab by @CoMiGo on Aug 26, 2017, 01:20

assigned to @CoMiGo

[2019-08-12 01:03] CosmoMyzrailGorynych commented on #1
In GitLab by @CoMiGo on Aug 26, 2017, 01:51

marked this issue as related to #7

[2019-08-12 01:03] CosmoMyzrailGorynych commented on #1
In GitLab by @CoMiGo on Mar 20, 2018, 23:46

не нужно

[2019-08-12 01:03] CosmoMyzrailGorynych commented on #1
In GitLab by @CoMiGo on Mar 20, 2018, 23:46

closed

[2019-08-12 01:04] #1 closed

[2019-08-12 01:04] CosmoMyzrailGorynych opened #2 "Перевести максимально всё на риот"
In GitLab by @CoMiGo on Aug 18, 2017, 20:55

null

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #2
In GitLab by @CoMiGo on Aug 26, 2017, 01:19

closed

[2019-08-12 01:04] #2 closed

[2019-08-12 01:04] CosmoMyzrailGorynych opened #3 "Добиться запуска проекта :D"
In GitLab by @CoMiGo on Aug 18, 2017, 20:55

null

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #3
In GitLab by @CoMiGo on Aug 26, 2017, 01:17

closed

[2019-08-12 01:04] #3 closed

[2019-08-12 01:04] CosmoMyzrailGorynych opened #4 "Добиться корректного экспорта проектов пользователей"
In GitLab by @CoMiGo on Aug 18, 2017, 20:55

Экспорт:

* [x]  комнат;
* [x]  типов;
* [x]  стилей;
* [ ]  звуков:
    * [ ] базовый;
    * [ ] с конвертацией в OGG/WAV/MP3 (провести исследование, а нахер оно нужно в современные дни)
* [x]  графики.

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Aug 26, 2017, 01:47

changed the description

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Aug 26, 2017, 01:47

marked the task **комнат;** as completed

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Aug 26, 2017, 01:47

marked the task **типов;** as completed

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Mar 20, 2018, 21:18

marked the task **графики.** as completed

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Mar 20, 2018, 22:20

marked the task **стилей;** as completed

[2019-08-12 01:04] CosmoMyzrailGorynych commented on #4
In GitLab by @CoMiGo on Mar 23, 2018, 22:08

closed

[2019-08-12 01:04] #4 closed

[2019-08-12 01:04] CosmoMyzrailGorynych opened #5 "Сделать упаковщик проектов посредством nw-phoenix-builder в исполняемые файлы для маков/линуксов/винд"
In GitLab by @CoMiGo on Aug 18, 2017, 20:56

null

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #5
In GitLab by @CoMiGo on Aug 27, 2017, 17:43

marked this issue as related to #14

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #5
In GitLab by @CoMiGo on Aug 5, 2018, 20:41

changed weight to **2**

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #5
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:05] #5 closed

[2019-08-12 01:05] CosmoMyzrailGorynych opened #6 "Решить, в виде чего будут поставляться модули. В идеале это должны быть npm- или схожие модули, но вот как их прикручивать к проекту?"
In GitLab by @CoMiGo on Aug 26, 2017, 01:18

null

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Mar 24, 2018, 14:47

NPM — слишком жирно. Особенно жирны его 109 зависимостей.

Проще всего сделать в виде стягиваемых гит-репозиториев. Собирать модули от пользователей можно, опять же, с помощью гита и пулриквестов, собирая JSON-реестр модулей. Дёшево и сердито.

Тогда, для лучшего сжатия и редактирования:

* один модуль === одна папка;
* создаётся один JSON с метаинформа

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Mar 24, 2018, 14:51

Так можно вообще делать npm-пакеты, по сути, с возможностью автосборки для крупных проектов; главное, чтобы автоматизаторы создавали нужные конечные файлы

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Mar 24, 2018, 15:29

Пишу по-английски, чтобы потом не заниматься переводов для документации.

# Making your own modules

Any module is a directory with a following structure:

* `includes`
  * (files to be copied to a resulting game)
* `injects`
  * (injects go here)
* `CHANGELOG.md`
* `DOCS.md`
* `index.js`
* `LICENSE` (plain text, strongly recommended)
* `module.json` (r

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Mar 24, 2018, 15:55

## Adding injections

Injects are a powerful instrument to extend functionality of ct.js framework beyond adding methods or properties. It allows you to add logic to a game loop, load resources, create bundled Types, etc.

The `injects` folder contains files which code should be injected while exporting a game. All of them are optional, and here is a li

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Mar 24, 2018, 17:14

## Structure of `module.json`

`module.json` is the only required file for your modules. It has the following format:

[code]

### Adding fields

Adding fields allows users configure your mods from inside ct.IDE, on a 'Settings' tab of your mod. You can have any numbers of fields and use them inside your main code or injects.

Fields are described in `m

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #6
In GitLab by @CoMiGo on Apr 1, 2018, 16:07

closed

[2019-08-12 01:05] #6 closed

[2019-08-12 01:05] CosmoMyzrailGorynych opened #7 "Добиться полной работоспособности всех модулей редактора"
In GitLab by @CoMiGo on Aug 26, 2017, 01:50

* [x]  Настройки
* [x]  Котомоды
* [x]  Графика
* [x]  Стили
* [x]  Звуки
* [x]  Типы
* [x]  Комнаты

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Aug 26, 2017, 01:51

marked this issue as related to #1

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Aug 26, 2017, 03:08

changed the description

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Aug 26, 2017, 03:56

marked the task **Котомоды** as completed

[2019-08-12 01:05] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Aug 26, 2017, 03:57

Надо будет допроверить настройку модулей для полей ввода "radio" и "checkbox"

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Oct 14, 2017, 19:19

marked the task **Графика** as completed

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Oct 14, 2017, 19:19

marked the task **Типы** as completed

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Oct 14, 2017, 19:25

assigned to @CoMiGo

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Oct 24, 2017, 18:13

marked the task **Звуки** as completed

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Oct 24, 2017, 18:13

marked the task **Комнаты** as completed

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Mar 20, 2018, 22:20

marked the task **Стили** as completed

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #7
In GitLab by @CoMiGo on Mar 20, 2018, 22:20

closed

[2019-08-12 01:06] #7 closed

[2019-08-12 01:06] CosmoMyzrailGorynych opened #8 "В place.ct есть замечательный метод проверки пересечения непараллельных осям отрезков. С ней можно быстро сделать проверку столкновений по сложным (в т.ч. и вогнутым) векторным фигурам."
In GitLab by @CoMiGo on Aug 26, 2017, 03:14

null

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #8
In GitLab by @CoMiGo on Aug 5, 2018, 18:48

closed

[2019-08-12 01:06] #8 closed

[2019-08-12 01:06] CosmoMyzrailGorynych opened #9 "ct.place — баг со сравнением координат в rect.rect"
In GitLab by @CoMiGo on Aug 26, 2017, 03:52

null

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #9
In GitLab by @CoMiGo on Aug 26, 2017, 03:53

![image](/uploads/a70bf7e7046463f5c07ff5581df29fe0/image.png)

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #9
In GitLab by @CoMiGo on Aug 26, 2017, 03:53

Ожидалось:

![image](/uploads/a753d28e54d8b59a89d83e94f45573ad/image.png)

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #9
In GitLab by @CoMiGo on Mar 23, 2018, 22:40

А вот нет, они должны быть зелёными.

[2019-08-12 01:06] CosmoMyzrailGorynych commented on #9
In GitLab by @CoMiGo on Mar 23, 2018, 22:48

closed

[2019-08-12 01:06] #9 closed

[2019-08-12 01:07] CosmoMyzrailGorynych opened #10 "Вернуть поведение копипасты кода в разделе с котомодами при нажатии ПКМ по коду"
In GitLab by @CoMiGo on Aug 26, 2017, 03:58

null

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #10
In GitLab by @CoMiGo on Mar 23, 2018, 22:26

closed

[2019-08-12 01:07] #10 closed

[2019-08-12 01:07] CosmoMyzrailGorynych opened #11 "Сделать распайку атласов и базовые инструменты покадрового редактирования в редакторе графики"
In GitLab by @CoMiGo on Aug 26, 2017, 16:32

null

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #11
In GitLab by @CoMiGo on Aug 5, 2018, 20:41

changed weight to **2**

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #11
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:07] #11 closed

[2019-08-12 01:07] CosmoMyzrailGorynych opened #12 "Написать/обновить документацию к имеющимся котомодам на английском языке"
In GitLab by @CoMiGo on Aug 27, 2017, 16:24

null

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #12
In GitLab by @CoMiGo on Mar 20, 2018, 23:46

changed title from **На{-до будет написать/обновить документацию к имеющимся котомодам-}** to **На{+писать/обновить документацию к имеющимся котомодам на английском языке+}**

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #12
In GitLab by @CoMiGo on Mar 24, 2018, 14:27

marked this issue as related to #23

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #12
In GitLab by @CoMiGo on Apr 1, 2018, 16:03

closed

[2019-08-12 01:07] #12 closed

[2019-08-12 01:07] CosmoMyzrailGorynych opened #13 "Сделать работоспособный проект-пример (астероиды)"
In GitLab by @CoMiGo on Aug 27, 2017, 16:29

null

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #13
In GitLab by @CoMiGo on Oct 14, 2017, 19:25

assigned to @CoMiGo

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #13
In GitLab by @CoMiGo on Mar 23, 2018, 22:08

closed

[2019-08-12 01:07] CosmoMyzrailGorynych commented on #13
In GitLab by @CoMiGo on Apr 1, 2018, 16:09

marked this issue as related to #25

[2019-08-12 01:08] #13 closed

[2019-08-12 01:08] CosmoMyzrailGorynych opened #14 "Сделать внутренний дебаггер, нацеленный на соответствие поведения упакованной игры просмотру при дебаге"
In GitLab by @CoMiGo on Aug 27, 2017, 17:43

null

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #14
In GitLab by @CoMiGo on Aug 27, 2017, 17:43

marked this issue as related to #5

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #14
In GitLab by @CoMiGo on Aug 5, 2018, 20:41

changed weight to **1**

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #14
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:08] #14 closed

[2019-08-12 01:08] CosmoMyzrailGorynych opened #15 "Сделать пикселизацию в игре по запросу в настройках проекта"
In GitLab by @CoMiGo on Oct 14, 2017, 19:20

null

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #15
In GitLab by @CoMiGo on Mar 21, 2018, 00:32

closed

[2019-08-12 01:08] #15 closed

[2019-08-12 01:08] CosmoMyzrailGorynych opened #16 "Можно паковать игровые проекты в nw.js, и сделать апи для создания многопользовательских игр + хостинга локальных серверов"
In GitLab by @CoMiGo on Oct 14, 2017, 19:21

null

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #16
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **5**

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #16
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:08] #16 closed

[2019-08-12 01:08] CosmoMyzrailGorynych opened #17 "Перепроверить потом, добавлены ли все заметки о лицензии от зависимостей"
In GitLab by @CoMiGo on Oct 24, 2017, 18:12

null

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #17
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **1**

[2019-08-12 01:08] CosmoMyzrailGorynych commented on #17
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:08] #17 closed

[2019-08-12 01:09] CosmoMyzrailGorynych opened #18 "Придумать и добавить свою лицензию"
In GitLab by @CoMiGo on Oct 24, 2017, 18:12

null

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #18
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **1**

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #18
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:09] #18 closed

[2019-08-12 01:09] CosmoMyzrailGorynych opened #19 "Сделать окно настроек — как минимум уже нужно сделать выбор языка"
In GitLab by @CoMiGo on Mar 20, 2018, 22:22

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #19
In GitLab by @CoMiGo on Mar 20, 2018, 23:44

Пока закроем, т.к. именно выбор языка добавлен коммитом https://gitlab.com/CoMiGo/ctjs/commit/55b664b83a31735f70a353164173ef3c907aca0b.

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #19
In GitLab by @CoMiGo on Mar 20, 2018, 23:44

closed

[2019-08-12 01:09] #19 closed

[2019-08-12 01:09] CosmoMyzrailGorynych opened #20 "Проапгрейдить Sound API"
In GitLab by @CoMiGo on Mar 21, 2018, 00:30

Сейчас держится на HTML-тегах. Успело появиться нормальное апи для звуков.

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #20
In GitLab by @CoMiGo on Mar 21, 2018, 20:25

https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #20
In GitLab by @CoMiGo on Mar 24, 2018, 17:18

Можно сделать в качестве котомода, есть вроде бы классный [Howler](https://goldfirestudios.com/blog/104/howler.js-Modern-Web-Audio-Javascript-Library), который можно сделать в виде заменителя стандартного ct.sound (т.е. вообще заменить этот объект).

Howler поддерживает Web Audio API и фоллбэчится на текущие теги `<audio>`, есть 3д позиционирование звук

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #20
In GitLab by @CoMiGo on Aug 5, 2018, 18:48

closed

[2019-08-12 01:09] #20 closed

[2019-08-12 01:09] CosmoMyzrailGorynych opened #21 "Добавить ко встроенной хелпе кнопку "домой""
In GitLab by @CoMiGo on Mar 21, 2018, 23:14

null

[2019-08-12 01:09] CosmoMyzrailGorynych commented on #21
In GitLab by @CoMiGo on Aug 1, 2018, 01:44

closed

[2019-08-12 01:10] #21 closed

[2019-08-12 01:10] CosmoMyzrailGorynych opened #22 "Нельзя продублировать тип"
In GitLab by @CoMiGo on Mar 23, 2018, 19:54

через контекстное меню

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #22
In GitLab by @CoMiGo on Mar 23, 2018, 19:54

changed the description

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #22
In GitLab by @CoMiGo on Mar 23, 2018, 22:34

closed

[2019-08-12 01:10] #22 closed

[2019-08-12 01:10] CosmoMyzrailGorynych opened #23 "Сделать редактор котомодов"
In GitLab by @CoMiGo on Mar 24, 2018, 14:03

null

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #23
In GitLab by @CoMiGo on Mar 24, 2018, 14:27

marked this issue as related to #12

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #23
In GitLab by @CoMiGo on Mar 24, 2018, 14:41

closed

[2019-08-12 01:10] #23 closed

[2019-08-12 01:10] CosmoMyzrailGorynych opened #24 "ct.keyboard использует старую версию KeyboardEvent. Используемый e.keyCode deprecated. Нужно переписать для e.key"
In GitLab by @CoMiGo on Mar 25, 2018, 15:46

null

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #24
In GitLab by @CoMiGo on Mar 25, 2018, 15:48

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key новый основной параметр события

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode текущий, deprecated

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #24
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **1**

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #24
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:10] #24 closed

[2019-08-12 01:10] CosmoMyzrailGorynych opened #25 "Демки и туториалы"
In GitLab by @CoMiGo on Apr 1, 2018, 16:08

* [x]  Демка с астероидами
* [x]  Демка с платформером
* [x]  Демка с мемокарточками
* [ ]  Текстовый туториал для части спэйс-шутера
* [ ]  Видеотуториал для спэйс-шутера на английском
* [ ]  Видеотуториал для спэйс-шутера на русском

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #25
In GitLab by @CoMiGo on Apr 1, 2018, 16:09

marked this issue as related to #13

[2019-08-12 01:10] CosmoMyzrailGorynych commented on #25
In GitLab by @CoMiGo on Apr 1, 2018, 16:12

changed the description

[2019-08-12 01:11] CosmoMyzrailGorynych commented on #25
In GitLab by @CoMiGo on Apr 5, 2018, 15:47

marked the task **Демка с мемокарточками** as completed

[2019-08-12 01:11] CosmoMyzrailGorynych commented on #25
In GitLab by @CoMiGo on Jul 26, 2018, 00:39

closed

[2019-08-12 01:11] #25 closed

[2019-08-12 01:11] CosmoMyzrailGorynych opened #26 "9-patch rendering"
In GitLab by @CoMiGo on Apr 1, 2018, 16:15

null

[2019-08-12 01:11] CosmoMyzrailGorynych commented on #26
In GitLab by @CoMiGo on Apr 11, 2018, 16:21

Можно поместить для начала в раздел стилей, и просто брать имеющуюся графику. Затем вообще переработать этот раздел в 'UI', с редактором интерфейса.

[2019-08-12 01:11] CosmoMyzrailGorynych commented on #26
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **1**

[2019-08-12 01:11] CosmoMyzrailGorynych commented on #26
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:11] #26 closed

[2019-08-12 01:11] CosmoMyzrailGorynych opened #27 "Сделать выбор рендера"
In GitLab by @CoMiGo on Apr 2, 2018, 10:48

* [ ]  Выбор как таковой
* [ ]  на [canvas-webgl](https://github.com/karellodewijk/canvas-webgl)
* [ ]  на [pixie.js](http://pixijs.io/)

[2019-08-12 01:12] CosmoMyzrailGorynych commented on #27
In GitLab by @CoMiGo on Apr 2, 2018, 10:55

changed the description

[2019-08-12 01:12] CosmoMyzrailGorynych commented on #27
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **1**

[2019-08-12 01:12] CosmoMyzrailGorynych commented on #27
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:12] #27 closed

[2019-08-12 01:12] CosmoMyzrailGorynych opened #28 "Пофиксить homepage в package.json"
In GitLab by @CoMiGo on Apr 12, 2018, 10:44

[2019-08-12 01:17] CosmoMyzrailGorynych opened #29 "Можно сделать редактор интерфейсов, используя редактор комнат и добавляя API для добавления виджетов и экранных форм без особой мороки. Потребуется доработать редактор комнат"
In GitLab by @CoMiGo on Apr 1, 2018, 16:15

null

[2019-08-12 01:17] CosmoMyzrailGorynych commented on #29
In GitLab by @CoMiGo on Aug 5, 2018, 20:42

changed weight to **3**

[2019-08-12 01:17] CosmoMyzrailGorynych commented on #29
In GitLab by @CoMiGo on Aug 15, 2018, 14:23

closed

[2019-08-12 01:17] #29 closed

[2019-08-12 01:17] CosmoMyzrailGorynych opened #30 "Очень не хватает редактора функций. Можно поместить в настройки проекта"
In GitLab by @CoMiGo on Apr 11, 2018, 16:14

null

[2019-08-12 01:17] CosmoMyzrailGorynych commented on #30
In GitLab by @CoMiGo on Aug 1, 2018, 01:33

closed

[2019-08-12 01:17] #30 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #31 "Переделать ссылки с диса на итч комьюнити"
In GitLab by @CoMiGo on Jul 26, 2018, 02:26

null

[2019-08-12 01:18] #28 closed

[2019-08-12 01:18] CosmoMyzrailGorynych commented on #31
In GitLab by @CoMiGo on Jul 31, 2018, 14:38

closed

[2019-08-12 01:18] #31 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #32 "Выложить новый сайт"
In GitLab by @CoMiGo on Jul 26, 2018, 02:26

null

[2019-08-12 01:18] CosmoMyzrailGorynych commented on #32
In GitLab by @CoMiGo on Jul 31, 2018, 14:38

closed

[2019-08-12 01:18] #32 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #33 "Релизнуть наконец-таки"
In GitLab by @CoMiGo on Jul 26, 2018, 02:26

null

[2019-08-12 01:18] CosmoMyzrailGorynych commented on #33
In GitLab by @CoMiGo on Jul 31, 2018, 14:38

closed

[2019-08-12 01:18] #33 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #34 "Баги при отмене дубликата стиля"
In GitLab by @CoMiGo on Aug 10, 2018, 18:09

null

[2019-08-12 01:18] CosmoMyzrailGorynych commented on #34
In GitLab by @CoMiGo on Aug 14, 2018, 18:51

closed

[2019-08-12 01:18] #34 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #35 "Стиль не сохраняется, если не назначен шрифт"
In GitLab by @CoMiGo on Aug 10, 2018, 18:09

null

[2019-08-12 01:18] CosmoMyzrailGorynych commented on #35
In GitLab by @CoMiGo on Aug 14, 2018, 20:55

closed

[2019-08-12 01:18] #35 closed

[2019-08-12 01:18] CosmoMyzrailGorynych opened #36 "При создании звука сразу его открыапть"
In GitLab by @CoMiGo on Aug 10, 2018, 20:06

null

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #36
In GitLab by @CoMiGo on Aug 14, 2018, 18:02

closed

[2019-08-12 01:19] #36 closed

[2019-08-12 01:19] CosmoMyzrailGorynych opened #37 "Convert keyboard codes to letters in ct.keyboard, as switching to another locale disables keyboard at all"
In GitLab by @CoMiGo on Feb 24, 2019, 20:40

Closed as it is not relevant for v1.0, as ct.keyboard is now action-aware and is based on `KeyboardEvent.code`. See #45

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #37
In GitLab by @CoMiGo on Feb 27, 2019, 03:26

closed

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #37
In GitLab by @CoMiGo on Feb 27, 2019, 03:27

Not relevant for v1.0, as ct.keyboard is now action-aware and is based on `KeyboardEvent.code`. See #45

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #37
In GitLab by @CoMiGo on Mar 19, 2019, 03:24

changed the description

[2019-08-12 01:19] #37 closed

[2019-08-12 01:19] CosmoMyzrailGorynych opened #38 "ct.place: Transformed rectangles are actually points. Wrong calculations"
In GitLab by @CoMiGo on Feb 24, 2019, 20:40

null

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #38
In GitLab by @CoMiGo on Feb 24, 2019, 20:52

assigned to @CoMiGo

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #38
In GitLab by @CoMiGo on Feb 24, 2019, 21:54

closed

[2019-08-12 01:19] #38 closed

[2019-08-12 01:19] CosmoMyzrailGorynych opened #39 "Rewrite room editor with pixi.js"
This will reduce further development complexity, and make drawing faster and closer to the final game. The current canvas-based editor quickly loses its maintainability.

Also, see #40, #76, and #57

A mockup: https://www.figma.com/file/5ranH0vsypOnCYGIKntGVF/Ct.js-v2?node-id=1%3A2

## TODO

* [x] Feature parity with the old editor
  * [x] Camera controls
  * [x] Rectangular grid
  * [x] Drawing r

[2019-08-12 01:19] CosmoMyzrailGorynych opened #40 "Add extends in room editor, that allow to set scale, rotation, and other fields"
Also see #39

[2019-08-12 01:19] CosmoMyzrailGorynych commented on #40
In GitLab by @CoMiGo on Mar 2, 2019, 17:31

changed the description

[2019-08-12 01:19] CosmoMyzrailGorynych opened #41 "Rename Graphics into Textures"
In GitLab by @CoMiGo on Feb 24, 2019, 20:42

null

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #41
In GitLab by @CoMiGo on Mar 9, 2019, 00:19

closed

[2019-08-12 01:20] #41 closed

[2019-08-12 01:20] CosmoMyzrailGorynych opened #42 "Test EQS module"
In GitLab by @CoMiGo on Feb 24, 2019, 20:43

null

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #42
In GitLab by @CoMiGo on Feb 24, 2019, 21:13

changed title from **Test EQS** to **Test EQS{+ module+}**

[2019-08-12 01:20] CosmoMyzrailGorynych opened #43 "Code completions provided by modules"
Catmods could provide additional configs that would allow extending the default autocompletion with their functions.

- - -

Modules with typedefs:

* [x] cutscene
* [x] eqs
* [x] fittoscreen
* [x] flow
* [x] keyboard
* [x] mouse
* [x] place
* [x] random
* [x] sound.howler
* [x] sprite
* [x] touch
* [x] tween
* [x] vkeys
* [x] yarn

[2019-08-12 01:20] CosmoMyzrailGorynych opened #44 "Rework ct.keyboard, ct.mouse into a more abstract system"
In GitLab by @CoMiGo on Feb 24, 2019, 20:44

Rework them into a mapped input system like seen in Unreal Engine, that also allows to integrate other input methods (like gyroscope, gamepad) with ease. Ideally, there should be a system where a programmer listens to actions, that are described as an aggregation of different inputs, e.g. action "To Left" that combines the "A" key, the arrow button, and

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 24, 2019, 20:44

changed title from **{-r-}ework ct.keyboard, ct.mouse into a more abstract system** to **{+R+}ework ct.keyboard, ct.mouse into a more abstract system**

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 24, 2019, 20:44

changed the description

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 26, 2019, 02:00

assigned to @CoMiGo

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 26, 2019, 02:04

changed the description

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 26, 2019, 02:14

changed the description

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 26, 2019, 03:36

marked the task **code it as a core module;** as completed

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 27, 2019, 03:25

marked the task **rework ct.keyboard, ct.mouse;** as completed

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 27, 2019, 03:39

marked the task **test it on catsteroids or such;** as completed

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 28, 2019, 00:06

marked the task **make a UI editor;** as completed

[2019-08-12 01:20] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Feb 28, 2019, 01:20

marked the task **document the process of telling ct.IDE what keys are supported by a module;** as completed

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Mar 2, 2019, 00:30

marked the task **update demos & examples;** as completed

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Mar 8, 2019, 21:45

marked the task **update docs & tutorials.** as completed

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Mar 8, 2019, 21:52

changed the description

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Mar 8, 2019, 22:07

marked the task **add stupidity checks.** as completed

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #44
In GitLab by @CoMiGo on Mar 8, 2019, 22:07

closed

[2019-08-12 01:21] #44 closed

[2019-08-12 01:21] CosmoMyzrailGorynych opened #45 "Backups"
In GitLab by @CoMiGo on Feb 24, 2019, 20:45

Though ct.js already auto-saves the project to a recovery file, it would be great to save previous versions in separate files (similar to what YoYo GameMaker does).

Some things to consider:

* it should be configurable, both in the number of backups and in the fact of creating them at all. One will not need backups if they use git or other svn (probabl

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #45
In GitLab by @CoMiGo on Feb 24, 2019, 21:11

changed the description

[2019-08-12 01:21] CosmoMyzrailGorynych opened #46 "Create a presskit"
In GitLab by @CoMiGo on Feb 24, 2019, 20:45

null

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #46
In GitLab by @CoMiGo on Feb 24, 2019, 21:08

assigned to @CoMiGo

[2019-08-12 01:21] CosmoMyzrailGorynych opened #47 "Packer: Add ability to set their own icons"
Users should be able to set an icon for their projects, which will be shown as a favicon in web builds, as an executable icon, and as an icon for window title.

[2019-08-12 01:21] CosmoMyzrailGorynych opened #48 "Separate windows OR tabs in the editor"
In GitLab by @CoMiGo on Feb 24, 2019, 20:47

"It would be cool to have separate windows in ct.js and not everything integrated into one big UI, as most developers work with two screens."

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #48
In GitLab by @CoMiGo on Feb 24, 2019, 20:52

changed title from **"It would be cool to have separate windows in ct.js and not everything integrated into one big UI, as most developers work with two screens.** to **"It would be cool to have separate windows in ct.js and not everything integrated into one big UI, as most developers work with two screens.{+"+}**

[2019-08-12 01:21] CosmoMyzrailGorynych opened #49 "Don't forget to send update to Gamedev.js Weekly! :b"
In GitLab by @CoMiGo on Feb 24, 2019, 20:53

andrzej.mazur@end3r.com

[2019-08-12 01:21] CosmoMyzrailGorynych commented on #49
In GitLab by @CoMiGo on Feb 24, 2019, 20:55

changed the description

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #49
In GitLab by @CoMiGo on Feb 24, 2019, 20:55

assigned to @CoMiGo

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #49
In GitLab by @CoMiGo on Mar 17, 2019, 02:22

made the issue confidential

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #49
In GitLab by @CoMiGo on Apr 1, 2019, 19:55

v1.0.0-next-3 — done

[2019-08-12 01:22] CosmoMyzrailGorynych opened #50 "Add hexagonal grids to EQS module"
In GitLab by @CoMiGo on Feb 24, 2019, 21:14

null

[2019-08-12 01:22] CosmoMyzrailGorynych opened #51 "Add A* pathfinding to EQS module. Create graphs from grids and from a list of provided points"
In GitLab by @CoMiGo on Feb 24, 2019, 21:15

The latter one can be done not only by hard-coding graph creation process when making a grid, but also by adding a method that will measure the cost and the fact of connection between two nodes. The downside: such manipulations will have quadratic complexity.

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #51
In GitLab by @CoMiGo on Feb 24, 2019, 21:18

changed the description

[2019-08-12 01:22] CosmoMyzrailGorynych opened #52 "Pixi's Projection for fast creation of 3D-ish games (ct.3d module)"
See https://pixijs.io/examples/#/projection/iso-basic.js
and https://pixijs.io/examples/#/projection/runner.js

The aim is to provide tools for creating games with style similar to Don't Starve, and for making isometric games without having to deal with skewed coordinates.

---

Initial work and examples are made in ct.3d module.
There is some cursed sorcery happening here, so beware. Possible imp

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #52
In GitLab by @CoMiGo on Feb 24, 2019, 21:28

changed the description

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #52
In GitLab by @CoMiGo on Feb 24, 2019, 21:28

changed the description

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #52
In GitLab by @CoMiGo on Mar 16, 2019, 16:48

This API will come out as an official feature in pixi.js v5

[2019-08-12 01:22] CosmoMyzrailGorynych opened #53 "UI Editor"
In GitLab by @CoMiGo on Feb 24, 2019, 21:30

Similar to what can be seen in Unreal Engine, this editor should provide visual tools for making HUDs. Actual widgets and complete UI may be represented in a game's code as generated types, with "On Step" events listening to resizing (should be inherited from a class) and updating different values (e.g. health-bars values, text fields, etc.).

This must

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #53
In GitLab by @CoMiGo on Feb 24, 2019, 21:36

changed the description

[2019-08-12 01:22] CosmoMyzrailGorynych opened #54 "Update graphics, sounds, rooms panels after opening a project from a hamburger menu"
In GitLab by @CoMiGo on Feb 24, 2019, 21:42

null

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #54
In GitLab by @CoMiGo on Feb 26, 2019, 00:27

assigned to @CoMiGo

[2019-08-12 01:22] CosmoMyzrailGorynych commented on #54
In GitLab by @CoMiGo on Feb 26, 2019, 01:00

mentioned in commit ef810c853a5799bf2347b0e2973fde1c320324ba

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #54
In GitLab by @CoMiGo on Feb 26, 2019, 01:06

closed

[2019-08-12 01:23] #54 closed

[2019-08-12 01:23] CosmoMyzrailGorynych opened #55 "Pausing a game by stopping Pixi's tickers"
In GitLab by @CoMiGo on Feb 24, 2019, 21:57

The code to pause the game is as following:

[code]

And, to unpause:

[code]

But it should be documented as a quick tip/tutorial in the docs, because one will never guess on how to do that, even with Pixi.js docs.

From Discord server:

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #55
In GitLab by @CoMiGo on Feb 24, 2019, 22:00

changed the description

[2019-08-12 01:23] CosmoMyzrailGorynych opened #56 "Decouple ct.sound from ct.js core"
In GitLab by @CoMiGo on Feb 25, 2019, 19:21

Currently, ct.sounds is included in the output js bundle, even if `ct.sounds.howler` is enabled. (ct.sounds.howler overrides the default object)

This is one of the issues that aims to make the core of ct.js slimmer.

Pool size that is configurable and is needed for the default sound system may be introduced as module-specific extensions, similar to wha

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #56
In GitLab by @CoMiGo on Feb 25, 2019, 19:28

changed the description

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #56
In GitLab by @CoMiGo on Feb 25, 2019, 19:38

changed the description

[2019-08-12 01:23] CosmoMyzrailGorynych opened #57 "Add ability for modules to add extends for most asset types"
Currently, modules are able to add additional fields in type editors so that they appear in a game's runtime as parameters. This can be seen in ct.place.

So, add extends to:

* [ ]  sounds;
* [x]  individual copies in room editor (also see #40);
* [ ]  graphic assets (any use cases, though?).
* [x]  rooms.

[2019-08-12 01:23] CosmoMyzrailGorynych opened #58 "Cutscene making [WIP]"
In GitLab by @CoMiGo on Feb 25, 2019, 21:41

[code]

[code]

[2019-08-12 01:23] CosmoMyzrailGorynych opened #59 "ct.types.copy does not check whether a requested type exists, resulting into a cryptic error if one provides a non-existing type name"
In GitLab by @CoMiGo on Feb 26, 2019, 01:47

If one tries to create a copy of a non-existing type (e.g. due to a misspelling), it will result in a not quite helpful error message:

![image](/uploads/5924824182a6efd7838929f45ab7f6e0/image.png)

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #59
In GitLab by @CoMiGo on Feb 26, 2019, 01:50

changed title from **ct.types.copy does not check{-s-} whether a requested type exists, resulting into a cryptic error if one provides a non-existing error** to **ct.types.copy does not check whether a requested type exists, resulting into a cryptic error if one provides a non-existing error**

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #59
In GitLab by @CoMiGo on Feb 26, 2019, 01:50

changed the description

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #59
In GitLab by @CoMiGo on Feb 26, 2019, 02:15

changed title from **ct.types.copy does not check whether a requested type exists, resulting into a cryptic error if one provides a non-existing {-error-}** to **ct.types.copy does not check whether a requested type exists, resulting into a cryptic error if one provides a non-existing {+type name+}**

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #59
In GitLab by @CoMiGo on Mar 8, 2019, 22:10

assigned to @CoMiGo

[2019-08-12 01:23] CosmoMyzrailGorynych commented on #59
In GitLab by @CoMiGo on Mar 8, 2019, 22:18

closed

[2019-08-12 01:24] #59 closed

[2019-08-12 01:24] CosmoMyzrailGorynych opened #60 "Graphics management overhaul"
In GitLab by @CoMiGo on Feb 27, 2019, 20:08

So the current graphics editor simply shows you a sprite sheet and allows you to set how this sprite sheet will be later divided in the game. This fact brings a bunch of issues:

* it is expected that a user has a sprite sheet. Individual frames need to be joined before importing (bad workflow, excessive tasks);
* ~~Pixi.js leaks pixels on scaled copies

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #60
In GitLab by @CoMiGo on Feb 27, 2019, 20:16

changed the description

[2019-08-12 01:24] CosmoMyzrailGorynych opened #61 "Generator of placeholder textures for quckly making a bunch of graphics assets"
In GitLab by @CoMiGo on Feb 27, 2019, 20:17

null

[2019-08-12 01:24] CosmoMyzrailGorynych opened #62 "Particle system editor and module"
The editor is surely in ct.ide's scope, but it still requires something to edit :)

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #62
In GitLab by @CoMiGo on Mar 2, 2019, 17:23

http://pixijs.download/release/docs/PIXI.particles.ParticleContainer.html

[2019-08-12 01:24] CosmoMyzrailGorynych opened #63 "Gamepad Support"
See

* https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API
* https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API
* [docs on building new catmods](https://docs.ctjs.rocks/making-mods.html#structure-of-module-json) and specifically [how to add new input methods](https://docs.ctjs.rocks/making-mods.html#adding-new-input-methods)
* [ct.keyboard](https://github.c

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #63
In GitLab by @CoMiGo on Feb 28, 2019, 01:50

changed the description

[2019-08-12 01:24] CosmoMyzrailGorynych opened #64 "Virtual keys (module)"
* [x] Buttons
* [ ] Joysticks

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #64
In GitLab by @CoMiGo on Apr 21, 2019, 18:15

assigned to @CoMiGo

[2019-08-12 01:24] CosmoMyzrailGorynych opened #65 "Russian docs"
In GitLab by @CoMiGo on Mar 2, 2019, 02:29

* [x]  Tutorials
* [ ]  Tips & tricks, Dragonbones
* [x]  core's API docs
* [ ]  image localisation

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #65
In GitLab by @CoMiGo on Mar 2, 2019, 02:29

assigned to @CoMiGo

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #65
In GitLab by @CoMiGo on Mar 12, 2019, 02:51

changed the description

[2019-08-12 01:24] CosmoMyzrailGorynych commented on #65
In GitLab by @CoMiGo on Mar 15, 2019, 01:55

marked the task **core's API docs** as completed

[2019-08-12 01:24] CosmoMyzrailGorynych opened #66 "Starting templates for new projects"
In GitLab by @CoMiGo on Mar 2, 2019, 17:20

The idea is to allow users to create not a blank project, but a new project based on some predefined template (similar to UE templates). These should be starting points for making games of a specific genre:

* platformer;
* twin-stick/top-down shooter;
* visual novel? :D
* arpg?
* jrpg?
* tower defense?

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #66
In GitLab by @CoMiGo on Mar 2, 2019, 17:23

changed the description

[2019-08-12 01:25] CosmoMyzrailGorynych opened #67 "Scriptable trigger zones in room editor"
Related: #39

[2019-08-12 01:25] CosmoMyzrailGorynych opened #68 "Linux-ARM support"
In GitLab by @CoMiGo on Mar 4, 2019, 18:06

null

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #68
In GitLab by @CoMiGo on Mar 4, 2019, 18:55

https://github.com/LeonardLaszlo/nw.js-armv7-binaries

[2019-08-12 01:25] CosmoMyzrailGorynych opened #69 "When creating a style, activating fill and selecting diffuse does not refresh the preview immediately"
In GitLab by @CoMiGo on Mar 8, 2019, 23:01

null

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #69
In GitLab by @CoMiGo on Mar 9, 2019, 00:20

assigned to @CoMiGo

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #69
In GitLab by @CoMiGo on Mar 9, 2019, 00:23

closed

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #69
In GitLab by @CoMiGo on Mar 9, 2019, 01:09

mentioned in commit 4f075fdd880acad154108b148068842a57deaa17

[2019-08-12 01:25] #69 closed

[2019-08-12 01:25] CosmoMyzrailGorynych opened #70 "Mac issues (no LMB)"
In GitLab by @CoMiGo on Mar 12, 2019, 15:42

So the biggest source of issues is that **Mac laptops don't have right trackpad button**, disabling them from using a context menu.

It seems that Mac users are used to long-press things to call a context menu. ct.js does not have this behavior.

Besides that, the debug window has a hidden title bar (with default close-minimise-maximise buttons), making

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 12, 2019, 15:46

changed the description

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 15, 2019, 02:00

assigned to @CoMiGo

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 15, 2019, 02:33

changed the description

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 17, 2019, 00:49

marked the task **Add a move threshold for long-press events;** as completed

[2019-08-12 01:25] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 17, 2019, 01:28

changed the description

[2019-08-12 01:26] CosmoMyzrailGorynych commented on #70
In GitLab by @CoMiGo on Mar 17, 2019, 01:28

closed

[2019-08-12 01:26] #70 closed

[2019-08-12 01:26] CosmoMyzrailGorynych opened #71 "Revisit ct.res.fetchImage, it can't work"
In GitLab by @CoMiGo on Mar 14, 2019, 00:54

null

[2019-08-12 01:26] CosmoMyzrailGorynych opened #72 "Usage of timers, promises, intervals and timeouts for making delayed events in ct.js"
In GitLab by @CoMiGo on Mar 15, 2019, 01:56

null

[2019-08-12 01:26] CosmoMyzrailGorynych opened #73 "Delete a type should remove this type from all the rooms"
In GitLab by @Adavo on Mar 15, 2019, 13:14

Expected behavior: if a user remove a type from the project, clear all the occurrence of this type in the project's rooms.
Current behavior: the type is not removed from the rooms and create JS error

How to reproduce:
1. Add a type
2. Create a room and put this type on the room
3. Delete the created type
4. Go back to the room : js error since the type

[2019-08-12 01:26] CosmoMyzrailGorynych commented on #73
In GitLab by @CoMiGo on Mar 30, 2019, 20:54

assigned to @CoMiGo

[2019-08-12 01:26] CosmoMyzrailGorynych commented on #73
In GitLab by @CoMiGo on Apr 1, 2019, 00:29

closed

[2019-08-12 01:26] CosmoMyzrailGorynych commented on #73
In GitLab by @CoMiGo on Apr 1, 2019, 00:29

mentioned in commit ce0cac3da606d1697c5cb29e50ca820323cdc76d

[2019-08-12 01:26] #73 closed

[2019-08-12 01:26] CosmoMyzrailGorynych opened #74 "More hotkeys (switch between tabs, pressing Done, pressing Run, etc)"
In GitLab by @CoMiGo on Mar 16, 2019, 16:03

null

[2019-08-12 01:26] CosmoMyzrailGorynych opened #75 "Organize assets with folders"
# Meta

This issue covers:

* a new asset browser that supports folders with projects' hierarchical file-based structure
* multi-tabbed view (one asset = one tab; multiple assets of one type can be opened) (#48)
* changes in internal APIs that make the above stuff possible
* re-write of asset pickers. Will reuse the asset browser component.

# Links

* ~~The spec and working draft of internal work

[2019-08-12 01:26] CosmoMyzrailGorynych commented on #75
In GitLab by @CoMiGo on Apr 1, 2019, 02:46

Gravit designer has a really neat file manager

![image](/uploads/443b28355205278d7257fce98dbb1bb1/image.png)

[2019-08-12 01:26] CosmoMyzrailGorynych opened #76 "Undo/redo in Rooms"

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #76
In GitLab by @CoMiGo on Mar 16, 2019, 16:05

Maybe do it with an Array subclass, that logs all pushes/splices intenally?

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #76
In GitLab by @CoMiGo on Mar 16, 2019, 16:07

Already exists at https://www.npmjs.com/package/historyarray
Seems pretty easy to implement, then :eyes:

[2019-08-12 01:27] CosmoMyzrailGorynych opened #77 "Class inheritance for types (v1.4)"
In GitLab by @CoMiGo on Mar 16, 2019, 16:24

The aim is to basically utilize JS classes and allow to call some kind of the `super();` method inside each of the four of generic type events. Though it does not necessarily need to be based on js classes: as we know, the behavior of classes may be mimicked in other ways, even with factory functions.

Use cases:

* different enemies that share one beha

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #77
In GitLab by @CoMiGo on Mar 16, 2019, 16:34

changed the description

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #77
In GitLab by @CoMiGo on Mar 16, 2019, 16:35

changed the description

[2019-08-12 01:27] CosmoMyzrailGorynych opened #78 "placeholder issue for issue 82 which does not exist and was probably deleted in GitLab"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2019-08-12 01:27] #78 closed

[2019-08-12 01:27] CosmoMyzrailGorynych opened #79 "Website: roadmap"
In GitLab by @CoMiGo on Mar 16, 2019, 16:45

Each issue search query has its own access link for RSS feed with reading permissions. With these links, I can make a roadmap public in the way similar to how I import itch.io devlogs to https://ctjs.rocks/

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #79
In GitLab by @CoMiGo on Mar 16, 2019, 16:46

changed the description

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #79
In GitLab by @CoMiGo on Mar 19, 2019, 03:07

changed the description

[2019-08-12 01:27] CosmoMyzrailGorynych commented on #79
In GitLab by @CoMiGo on Mar 19, 2019, 03:36

closed

[2019-08-12 01:27] #79 closed

[2019-08-12 01:27] CosmoMyzrailGorynych opened #80 "Trying to switch to a nonexistent room throws a cryptic error message"
If you execute `ct.rooms.switch('blablabla')`, it shows an error that has no clue about being connected with rooms, and freezes the game:

![изображение](https://user-images.githubusercontent.com/3174357/62981022-4c7d1a00-be7c-11e9-8649-f0a127e26ee6.png)

For users, such issue would be hard to solve. `ct.rooms.switch` should do checks prior to going to the new room and show understandable error me

[2019-08-12 01:27] CosmoMyzrailGorynych opened #81 "Trying to export a project with sound objects that has no actual sounds imported throws a cryptic error message"
In GitLab by @CoMiGo on Mar 24, 2019, 03:42

null

[2019-08-12 01:27] CosmoMyzrailGorynych opened #82 "Add "Welcome to the VOID" to ct.js jam sources"
In GitLab by @CoMiGo on Mar 25, 2019, 01:51

null

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #82
In GitLab by @CoMiGo on Mar 25, 2019, 01:51

assigned to @CoMiGo

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #82
In GitLab by @CoMiGo on Mar 30, 2019, 20:53

closed

[2019-08-12 01:28] #82 closed

[2019-08-12 01:28] CosmoMyzrailGorynych opened #83 "Scripts of catmods should be bundled on one level with ct.js. Otherwise, they don't load on itch and gamejolt CDNs"
In GitLab by @CoMiGo on Mar 30, 2019, 20:59

null

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #83
In GitLab by @CoMiGo on Mar 30, 2019, 20:59

assigned to @CoMiGo

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #83
In GitLab by @CoMiGo on Mar 31, 2019, 23:21

closed

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #83
In GitLab by @CoMiGo on Mar 31, 2019, 23:53

mentioned in commit bc3f022817f1e43952acf6c61a7fd5816c04bc80

[2019-08-12 01:28] #83 closed

[2019-08-12 01:28] CosmoMyzrailGorynych opened #84 "Revisit Comigo's commits that were made in haste before flying to MSC"
In GitLab by @CoMiGo on Mar 31, 2019, 23:01

null

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #84
In GitLab by @CoMiGo on Mar 31, 2019, 23:01

assigned to @CoMiGo

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #84
In GitLab by @CoMiGo on Mar 31, 2019, 23:53

closed

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #84
In GitLab by @CoMiGo on Mar 31, 2019, 23:53

mentioned in commit d43259bb89bf01d42956598f33787edf9a1873d7

[2019-08-12 01:28] #84 closed

[2019-08-12 01:28] CosmoMyzrailGorynych opened #85 "Jittering, jagged movement, out-of-bounds jumps (ct.delta issues)"
In GitLab by @CoMiGo on Mar 31, 2019, 23:07

null

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #85
In GitLab by @CoMiGo on Apr 1, 2019, 00:30

assigned to @CoMiGo

[2019-08-12 01:28] CosmoMyzrailGorynych commented on #85
In GitLab by @CoMiGo on Apr 1, 2019, 01:03

Seems that it was just a `ct.room.followDrift` overshooting over a copy while on low FPS.

*sigh*

![image](/uploads/d88ce3a07369f7bd49f8bad1a5df24e4/image.png)

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #85
In GitLab by @CoMiGo on Apr 1, 2019, 02:11

closed

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #85
In GitLab by @CoMiGo on Apr 1, 2019, 02:14

mentioned in commit 023784394f252e5801fad350ebe145816b962eec

[2019-08-12 01:29] #85 closed

[2019-08-12 01:29] CosmoMyzrailGorynych opened #86 "UI only bug: If a room was duplicated, this room and its copy will then share the same thumbnail"
![изображение](https://user-images.githubusercontent.com/3174357/62981294-f9579700-be7c-11e9-8a9c-c4e9e74fb164.png)

To reproduce:

1. Create a room and place a random copy in it, so that it becomes clear that there is something in it.
2. Duplicate this room
3. Add a new copy in the second room
4. Now both rooms seem to have two copies on their thumbnails.

The issue lies somewhere in the duplicat

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #86
In GitLab by @CoMiGo on Mar 31, 2019, 23:59

![image](/uploads/f7128cc2104a813c93909306a0e1c9fa/image.png)

These should actually have unique thumbnails and they all have different content

[2019-08-12 01:29] CosmoMyzrailGorynych opened #87 "A style's preview in the style editor could cover the remaining space"
In GitLab by @CoMiGo on Apr 1, 2019, 17:47

null

[2019-08-12 01:29] CosmoMyzrailGorynych opened #88 "A bug that doesn't show the new window when pressing Create in the Types window"
In GitLab by @CoMiGo on Apr 1, 2019, 22:50

A pretty nasty bug that doesn't show the new window when pressing Create in the Types window

1. Open any room
2. Press Done
3. Go to Types and Create a new one (window does not appear and requires a switch to another tab and back to see the new window)
On top of that, being in this "state" allows me to do the black screen bug in the room window again

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 22:51

LeonHup#0757

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 22:51

changed title from **{-bug that doesn-}t show the new window when pressing Create in the Types window** to **{+A bug that doesn'+}t show the new window when pressing Create in the Types window**

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 22:51

changed the description

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 22:51

![](https://cdn.discordapp.com/attachments/490054111707004928/562218252508594176/unknown.png)

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 23:17

assigned to @CoMiGo

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 23:27

mentioned in commit fd22e374d9aa3076e78de80775626703fedd5210

[2019-08-12 01:29] CosmoMyzrailGorynych commented on #88
In GitLab by @CoMiGo on Apr 1, 2019, 23:31

closed via commit fd22e374d9aa3076e78de80775626703fedd5210

[2019-08-12 01:29] #88 closed

[2019-08-12 01:29] CosmoMyzrailGorynych opened #89 "ct.touch reworking for Actions system, with pinch/pan/rotate support"
In GitLab by @CoMiGo on Apr 7, 2019, 18:27

null

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #89
In GitLab by @CoMiGo on Apr 17, 2019, 21:12

closed

[2019-08-12 01:30] #89 closed

[2019-08-12 01:30] CosmoMyzrailGorynych opened #90 ""Export to zip" command (in the hamburger menu) generates improper archives"
In GitLab by @CoMiGo on Apr 13, 2019, 18:25

Paths in archives generated by ct.js include windows-styled slashes `\`, which is a part of a file name on Unix. It then leads to unpacking issues on Unix machines, notably itch.io and GameJolt CDNs, that breaks games hosted there.

**Workaround**: repacking the zip file for yourself with other archive managers will generate a proper one, e.g. by using

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #90
In GitLab by @CoMiGo on Apr 13, 2019, 18:28

changed the description

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #90
In GitLab by @CoMiGo on Apr 13, 2019, 18:31

Actual structure on Unix

![Example of a broken archive](https://cdn.discordapp.com/attachments/98161417298939904/565018341480202240/unknown.png)

Expected structure

![image](/uploads/e26fc6fdaf89453eaac966f4b941b0ce/image.png)

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #90
In GitLab by @CoMiGo on Apr 13, 2019, 18:31

[broken_export.zip](/uploads/6e215cc47338881027ee653fb1c90eaa/broken_export.zip)

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #90
In GitLab by @CoMiGo on Apr 13, 2019, 18:32

changed the description

[2019-08-12 01:30] CosmoMyzrailGorynych opened #91 "A possibility of running a project without integrated debugger"
Meaning directly in the default browser. It can be a new hotkey or an entry in settings.

[2019-08-12 01:30] CosmoMyzrailGorynych opened #92 "Add "install from zip" for modules"
In GitLab by @CoMiGo on Apr 19, 2019, 22:53

Similar to how Blender adds external modules. This should help modders to extend ct.js, and to spread their module to the world.

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #92
In GitLab by @CoMiGo on Apr 19, 2019, 22:54

changed the description

[2019-08-12 01:30] CosmoMyzrailGorynych opened #93 "Document background editing process while in-game"
In GitLab by @CoMiGo on Apr 21, 2019, 18:15

null

[2019-08-12 01:30] CosmoMyzrailGorynych opened #94 "Example projects are bundled inside the Mac app, but must be placed along with it"
In GitLab by @CoMiGo on Apr 22, 2019, 15:11

Because of that, examples on mac are inaccessible

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #94
In GitLab by @CoMiGo on Apr 22, 2019, 15:11

changed the description

[2019-08-12 01:30] CosmoMyzrailGorynych opened #95 "Strange behaviour of ct.touch on mobile devices and devicePixelRatio handling"
In GitLab by @CoMiGo on Apr 22, 2019, 15:12

I feel it's all around devicePixelRatio (nope! it's about ct.touch not firing `released` event, for some reason), where ct.touch and ct.mouse return scaled values because of retina density.

* [x] Support retina drawing in pixi.js
* [x] Make `ct.fittoscreen` work with it
* [x] Deal with ct.mouse and ct.touch

[2019-08-12 01:30] CosmoMyzrailGorynych commented on #95
In GitLab by @CoMiGo on Apr 22, 2019, 15:12

assigned to @CoMiGo

[2019-08-12 01:31] CosmoMyzrailGorynych commented on #95
In GitLab by @CoMiGo on Apr 22, 2019, 15:14

changed the description

[2019-08-12 01:31] CosmoMyzrailGorynych commented on #95
In GitLab by @CoMiGo on Apr 22, 2019, 15:14

changed the description

[2019-08-12 01:31] CosmoMyzrailGorynych commented on #95
In GitLab by @CoMiGo on Apr 22, 2019, 15:54

changed the description

[2019-08-12 01:35] CosmoMyzrailGorynych commented on #74
https://github.com/github/hotkey/ will make the process much, _much_ easier.

[2019-08-12 01:52] CosmoMyzrailGorynych commented on #49
Are they dead? Yeah, it seems so

[2019-08-12 01:52] #49 closed

[2019-08-12 01:58] CosmoMyzrailGorynych commented on #48
the_michael at Discord posted a concept of a tabbed interface:

![](https://cdn.discordapp.com/attachments/490056845025869858/593444743527268352/extra_tabs_bar.png)

[2019-08-12 21:05] CosmoMyzrailGorynych commented on #94
I need volunteers — mac users — to help me with this issue.

[2019-08-12 21:14] CosmoMyzrailGorynych opened #96 "Mac: broken builds and EPERM errors with v1.x"
[Reported](https://discordapp.com/channels/490052958310891520/490054111707004928/599914347229347841) by straydogstrut from Discord.

And [by Djus](https://discordapp.com/channels/490052958310891520/490054111707004928/613725265625088001):

[2019-08-13 03:53] CosmoMyzrailGorynych opened #97 "Existing language files should clear their untranslated keys"
Existing language files should clear their untranslated keys (rn these are values copied from English.json), so that they become manageable through integrated translation packages (e.g. JSONBabel).

[2019-08-13 03:54] CosmoMyzrailGorynych opened #98 "Current in-app i18n process handles empty keys poorly"
The problem:

* If a key is absent in the selected translation file, its value will display as undefined. Instead, it should always fallback to English language.
* If a key's value is an empty string or any onther false-ish variable, it displays as is. It should instead fallback to English language.
* Existing language files should clear their untranslated keys (rn these are values copied from Eng

[2019-08-13 03:54] CosmoMyzrailGorynych commented on #97
Blocked by #98

[2019-08-13 21:41] CosmoMyzrailGorynych opened #99 "Ct.js in a browser environment (a la Construct 3)"
This is definitely possible and *not that hard to implement*, and it grants a bunch of opportunities:

* In-browser ct.js will have an even lower entry level (as a product, not as an IDE) as one does not have to download heaavy binaries
* Special links that request packed projects will allow for quicker support, mixing games and faster prototyping with colleagues
* A browser-based ct.js is always

[2019-08-13 21:43] CosmoMyzrailGorynych opened #100 "Update pixi.js to v5"

[2019-08-14 02:47] #58 closed

[2019-08-14 21:16] CosmoMyzrailGorynych commented on #90
Fedora 29/30 produces a correct file format.
It's actually a bad thing to have a platform-dependent module :/

[2019-08-14 21:33] #90 closed

[2019-08-14 21:44] CosmoMyzrailGorynych opened #101 "Add automatic audio conversion on sound import"
Right now, audio conversion for imported user files is missing, and everything relies on assumption that users will add either WAV or mp3 files. Other formats may lack support in different (especially older) browsers.
Converting imported files into three formats (OGG, mp3, WAV) is a solution, the question is how to do it properly.

It should be:

* a binary/a js lib, because DLLs and .so will work

[2019-08-14 21:46] CosmoMyzrailGorynych commented on #101
From Adavo:

961d45b6
What left:

* handle existing project audio file from previous version (if file save, remove old file with old extension)
* do more test with larger files and from different audio type
* CoMiGo's coding review 🍻

[2019-08-14 22:32] CosmoMyzrailGorynych commented on #100
Well, that was easier than I thought.

[2019-08-14 22:32] #100 closed

[2019-08-16 23:06] blurymind opened #102 "The GPL3 license"
First of all thank you for open sourcing this wonderful js game engine. I am one of the contributors on gdevelop and have been following your work quietly over the last few months.

Your engine definitely has some wonderful design choices in it.

Now I just want to say that I love gpl3 and open source licenses in general, however I am painfuly aware that game engines have a troubled past with the

[2019-08-17 04:37] CosmoMyzrailGorynych commented on #102
Sometimes I regret not being a lawyer 😅

@blurymind That was indeed a silly move to make ct.js GPL-3 licensed when all the exported projects contain ct.js code — that was not intended at all. My aim is to make ct.js available for everyone, and applicable for commercial use, and I think it will be better for everyone if ct.js is released under a simpler license (MIT).

Thank you for pointing all th

[2019-08-17 05:29] CosmoMyzrailGorynych opened #103 "Code highlighting for built-in parameters"
Related: #43

**Describe the current state of the problem**
Currently, properties such as `this.speed`, `this.tex` are colored in the same way as user-defined. Pixi-specific parameters are not colored as well. With a wide number of these (76!), it is easy to write the wrong name occasionally. An example that I personally bump into is writing to `this.texture`, which is a Pixi's property.

![image]

[2019-08-17 05:56] CosmoMyzrailGorynych opened #104 "More obvious highlighting of paired braces"
**Describe the current state of the problem**
Right now, a paired bracket is outlined with a gray square, which is poorly visible and works at specific cursor positions.

![image](https://user-images.githubusercontent.com/3174357/63207318-c8df5980-c117-11e9-8bad-470bae591cea.png)

![image](https://user-images.githubusercontent.com/3174357/63207322-df85b080-c117-11e9-9fe9-e603ccbc894b.png)

**Descr

[2019-08-17 09:10] #102 closed

[2019-08-18 21:35] qualitymanifest commented on #104
![ctjs](https://user-images.githubusercontent.com/13897419/63230053-b0357900-c1d5-11e9-81ce-a3e0f449bf62.gif)

How's that?

The Ace editor doesn't provide a configuration option for this (they have a couple [open](https://github.com/ajaxorg/ace/issues/2424) [issues](https://github.com/ajaxorg/ace/issues/3949) about it) so I had to modify the `$highlightBrackets` function in `ace.js`. Is that OK or

[2019-08-18 22:24] CosmoMyzrailGorynych commented on #104
In my opinion, the best way (in the long term) is to create a fork and implement these changes in it, then use the fork as a submodule. I'll set up compiling and linking for that if you create such a fork.

A short-term solution is to directly edit [ace.js](https://github.com/ct-js/ct-js/blob/develop/src/js/3rdparty/ace/ace.js) at ct.js, but one upstream update comes — and the changes are swallowe

[2019-08-19 04:35] #64 closed

[2019-08-19 21:48] CosmoMyzrailGorynych commented on #75
As seen in Gravit Designer, which had a somewhat similar asset view before.

![изображение](https://user-images.githubusercontent.com/3174357/63301789-8b551900-c32f-11e9-917a-787f8a781bcc.png)

[2019-08-20 21:01] #104 closed

[2019-08-21 11:47] LeandroStanger opened #107 "Distribute ct.js in a Flatpak"
http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak
https://github.com/flathub/flathub/wiki/App-Submission

[2019-08-21 22:32] CosmoMyzrailGorynych commented on #107
Flathub will be a good distribution channel for a vast Linux userbase. And I'm positive in general towards flatpak as a package manager.

I haven't build flatpak apps before, so if someone knows how to distribute such apps, you can make it faster than me, maybe even before the v1.0.0-next-4 launches. Then we can merge it in the official pipeline with a proper ci/cd integration. *(I love CI)*

[2019-08-21 22:46] CosmoMyzrailGorynych commented on #60
I thought about it more and now think that the textures editor doesn't really require heavy editing, but rather adding a layer of additional features. Everything may be kept in one view. E.g. click on a frame → a new toolbar slides in → you can now rotate, flip, recolor this frame. More general tools like resizing and adding new frames may be displayed at the bottom.

*Or* the texture editor may d

[2019-08-22 01:23] CosmoMyzrailGorynych commented on #60
I hate mockups, but here is [a rough depiction](https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&nav=1&title=Texture%20management_vision01.drawio#Uhttps%3A%2F%2Fraw.githubusercontent.com%2FCosmoMyzrailGorynych%2Fct-js-mockups%2Fmaster%2FTexture%2520management_vision01.drawio) of what may be a new texture manager.

[2019-08-22 08:44] CosmoMyzrailGorynych opened #108 "If a tileset is marked as "tiled", it will not show tiles under some circumstances"
**Describe the bug**

**To Reproduce**

[16x16Test.zip](https://github.com/ct-js/ct-js/files/3529140/16x16Test.zip)

(still needs the steps to reproduce)

**Expected behavior**
Tiles should display like in the editor.

**Screenshots (recommended)**

![image](https://user-images.githubusercontent.com/3174357/63499879-e0a24d80-c51c-11e9-9eae-38710aa6cdc7.png)
![image](https://user-images.githubuserc

[2019-08-22 17:55] lumosmind opened #109 "background image movement speed"
v1.0.0-next-3
win 10-64bit

I just download for try your project and I figured out a bug.
create new project with minimal default settings.
add texture image for background.
create new room.
add background image to the room.
in background settings menu with default settings plus
repeat: no-repear
movement
  x: 0
  y: 10
click save and run. => nothing moves
with
repeat: no-repear
movement
  x: 10

[2019-08-25 08:26] CosmoMyzrailGorynych commented on #96
The issue is not solved completely (yet), Though if the mac app is run through gulp, it works fine, the packaged builds show the same problem. This seems to be an issue with nw.js prebuilt binaries: https://github.com/nwjs-community/nw-builder/issues/289 *(sigh)*

But at least it is something solvable manually.

[2019-08-25 09:48] CosmoMyzrailGorynych commented on #96
Investigation:
If I run `chmod +x SomeApp.app/Contents/MacOS/`, the app will open but crash instantly, with a long error log.

[2019-08-25 12:06] CosmoMyzrailGorynych commented on #96
https://github.com/zkochan/symlink-dir/blob/master/src/index.ts

[2019-08-26 09:05] #94 closed

[2019-08-26 11:10] CosmoMyzrailGorynych commented on #96
Windows don't support +x flag, thus packages for mac that were built on windows will always fail.

[2019-08-26 12:04] #96 closed

[2019-09-01 03:46] edumaxsantos opened #112 "There's no ct.mouse.clear() function"
**Describe the bug**
The console shows an error saying there's no ct.mouse.clear() function when you click on Start.

**To Reproduce**
Steps to reproduce the behavior:
Just followed https://docs.ctjs.rocks/tut-making-shooter.html#adding-player-s-movement and it already stops working when trying to Start the game.

**Expected behavior**
The game should just work, but it keeps on an empty screen wit

[2019-09-01 04:40] CosmoMyzrailGorynych commented on #112
I'll roll a fix shortly; for now, you can continue the tutorial by disabling `mouse.legacy` and enabling the regular `mouse` in your catmods. The problem lies in the fact that ct re-applies the conversion again once you re-open the project.

[2019-09-01 07:14] #112 closed

[2019-09-02 10:54] CosmoMyzrailGorynych commented on #39
So, *the Vision*:

- the editor partially simulates the scene, by playing sprite animations, performing background movement. Toggleable/configurable.
- everything is in WebGL (in PIXI), and should resemble the results seen in ct.js game as close as possible.
- with the addition of hand-placed sounds and particle systems (SOON), the editor will allow for a more immersive workflow, that will greatly

[2019-09-02 21:38] CosmoMyzrailGorynych commented on #76
Related: #39. Should actually be a built-in feature of it, not an enhancement added lately, or it will be too hard to implement it as the editor does not comply to MVC model, thus we can't just record the history of changes to a plain JS room object.

[2019-09-03 10:32] CosmoMyzrailGorynych opened #113 "project.actions are not iterable in new projects as of v1.0.0"
**Describe the bug**
Newly created projects throw an error, if a user had not opened Actions editor yet.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Create an empty room
3. Hit the "Play" button at the top
4. See error

**Expected behavior**
No errors and a debugger with an empty room.

**Versions:**
 - OS: Windows 10
 - ct.js version 1.0.0

## Workaround

[2019-09-04 00:53] CosmoMyzrailGorynych opened #114 "Update Open Sans font to support Spanish, Portuguese and other locales"
**Describe the bug**
The current bundled version of Open Sans does not support characters like `ç`, `ã`, `õ`, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ct.js, click the Settings tab
2. At the hamburger menu, switch UI language to Spanish.
3. See the label `Configuración del proyecto` having a different weight of its `ó`

**Expected behavior**
Fonts should support more languag

[2019-09-04 00:58] CosmoMyzrailGorynych commented on #39
![](https://cdn.discordapp.com/attachments/490056845025869858/618570247191920651/IMG_20190904_101022_6-01.jpeg)
![](https://cdn.discordapp.com/attachments/490056845025869858/618570502214254623/JPEG_20190904_101754.jpg)
![](https://cdn.discordapp.com/attachments/490056845025869858/618570694589939722/JPEG_20190904_101845.jpg)

[2019-09-04 01:13] CosmoMyzrailGorynych opened #115 "Packaging games for macOS: same issues that existed for ct.js itself"
**Describe the bug**
As ct.js uses the same nw-builder for packing its games, they inherit all the problems that a vanilla nw-builder has:

- setting a Win icon fails on Linux;
- macOS packages don't open for a couple of reasons:
  - wrong rights on executables (no `+x` flag);
  - absolute symlinks instead of relative ones, that work only for one computer :woman_facepalming:
- building for macOS o

[2019-09-04 01:15] CosmoMyzrailGorynych commented on #115
A possible solution is to use electron instead of nw.js all over the project. This won't change anything for users, and migration will be quite smooth, I suppose, as they have a similar API for menus and shell.

[2019-09-04 10:20] #81 closed

[2019-09-04 10:20] CosmoMyzrailGorynych commented on #81
Fixed in v1.0.0

[2019-09-04 10:41] #113 closed

[2019-09-04 10:48] #114 closed

[2019-09-04 11:03] CosmoMyzrailGorynych commented on #109
Thanks for the report! The issue got fixed 👌

[2019-09-04 11:03] #109 closed

[2019-09-04 11:26] CosmoMyzrailGorynych commented on #86
Please report here if you do have these issues in v1.0.0 or newer. I can't reproduce in a new project now.

[2019-09-04 11:26] #86 closed

[2019-09-06 02:45] CosmoMyzrailGorynych opened #116 "ct.js "Package project to zip" makes incomplete archives"
**Describe the bug**
See "to reproduce".
The bug seems to be exclusive to Windows. Maybe it has something to deal with `archiver`, maybe with `fs-extra`, or maybe with streaming on Windows in general.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project with numerous textures, e.g. [SpaceShooter_tutorial.ict](https://github.com/ct-js/ct-js/blob/develop/src/examples/SpaceShooter_tut

[2019-09-12 21:32] CosmoMyzrailGorynych opened #117 "ct.place.occupied and ct.place.free could also accept type names as its argument for phantom checks"
**Describe the current state of the problem**
Currently, `ct.place.occupied` and `ct.place.free` accept only copies (and copy-like objects) as its first argument (`ct.place.free(copy: Object, [x, y, cgroup])`). That works well in most situations, but, in cases when we need to check a possible collision before _creating_ a new copy, we should either create a copy first or use a fake copy-like objec

[2019-09-14 01:45] CosmoMyzrailGorynych commented on #117
@Sweetkubuni Cool! Keep us up to date with its solution 😄

[2019-09-17 01:55] CosmoMyzrailGorynych commented on #107
[Setting file system permissions for Flatpak apps](https://github.com/Taiko2k/TauonMusicBox/wiki/Flatpak-Permissions)

[2019-09-17 17:21] Atavismus opened #119 "Reorder scripts"
As scripts (in "Settings") are executed in the order we create them, we should be able to reorder them.
Drag and drop would make sense imo.

Mind, it's only "nice to have" and very low priority.
Meanwhile, we can edit the .ict file (it seems to have no bad side-effect).

[2019-09-21 22:59] CosmoMyzrailGorynych opened #121 "Demos: add support for touch controls"
**Describe the current state of the problem**
Currently, only the ["Memocats"](https://comigo.itch.io/memocats) demo supports running on phones as it does not require keyboard controls. "Catsteroids" and "Catformer" (aka Greed) require them and thus are unplayable on touch devices like phones. As these are the demos of ct.js, they should reflect state-of-the-art features of ct.js, and thus need to

[2019-09-22 09:35] Atavismus opened #122 "Search across all scripts"
A "search across all scripts" thingie could be very handy.
Maybe you could "cheat" and use the .ict file?

[2019-09-24 23:29] CosmoMyzrailGorynych opened #123 "Add caching to list of patreons"
**Describe the bug**
I always forget to finish this thing, so let's add an issue so I don't forget about it again.

**Expected behavior**
There should be a dedicated screen that features all patrons, and, preferably, a quick line at the starting screen that shows patrons at random so they do get visible without hidden menus.

[2019-09-26 19:21] MMLich opened #124 "Colliders do not collide properly"
**Describe the bug**
Some of my objects do not collide as they should, sometimes even collide outside each other's shape. It slightly seems like the colliders of objects are somehow shifted from their position.

**Expected behavior**
I set up colliders for space trash and laser beam in the space shooter game. But they are not computed properly. Objects are slowly rotating and are randomly resized

[2019-09-26 21:29] CosmoMyzrailGorynych commented on #124
What a marvellous, detailed bug report! :3

@MMLich, does it make falsey collisions on a relatively big distance, or only when they are separated by 2-3 pixels? The collision engine treats transformed shapes and polygons as 3-pixels wide line segments.

[2019-09-27 07:54] MMLich commented on #124
@CosmoMyzrailGorynych, the distance quite greater than a few pixels. My rocket is very small. But I think that it sometimes collides with about 30 pixels distance from obstacles. Sorry for no pictures, but I am not at home at the moment. I can add pictures tomorrow.

[2019-09-28 15:58] MMLich commented on #124
![obrazek](https://user-images.githubusercontent.com/55833136/65819109-05bf6580-e219-11e9-8fbb-0f9977a78e59.png)
The ship object drops the blue laser as it moves so the collision spot is visible at the picture. I've disabled the rotation of space trash (I rotated it only at start). So this is exactly the point where they collide (and the area where they didn't collide).

[2019-09-30 04:16] CosmoMyzrailGorynych commented on #124
So I've found at least one bug that causes this behavior: unclosed shapes

![изображение](https://user-images.githubusercontent.com/3174357/65849233-93c45900-e39d-11e9-9cab-e0f6782a4ab3.png)

[2019-09-30 04:44] CosmoMyzrailGorynych commented on #124
Holy cow.

![изображение](https://user-images.githubusercontent.com/3174357/65850121-9c1e9300-e3a1-11e9-92f7-1f390269d49d.png)

[2019-10-01 21:48] CosmoMyzrailGorynych opened #126 "Add Brazilian-Portuguese translation"
from https://translate.zanata.org/webtrans/translate?project=ct-js&iteration=v1&localeId=pt-BR&locale=ru-RU&dswid=-5867#doc:English.json

[2019-10-02 03:09] CosmoMyzrailGorynych commented on #124
The fix will be shipped in the nearest release

[2019-10-02 03:09] #124 closed

[2019-10-03 03:46] CosmoMyzrailGorynych opened #128 "Nested awareness"
**Describe the current state of the problem**
Currently, ct.js assumes a more traditional way of writing games: that you run one room at a time that consists of a flat list of entities (tiles, copies, backgrounds). This produces a set of limitations:

* really big worlds with tons of entities will lag, as everything is computed at once;
* **(solved)** no separate layers that would allow transformi

[2019-10-05 09:48] #98 closed

[2019-10-05 09:48] #97 closed

[2019-10-05 10:01] CosmoMyzrailGorynych commented on #126
Added it, needs to be updated by Folha de SP

[2019-10-08 22:05] CosmoMyzrailGorynych commented on #60
Solved in https://github.com/ct-js/ct-js/commit/ba52f95073c8e52d01373d62f4d97c256ddb71ed

[2019-10-08 22:12] CosmoMyzrailGorynych commented on #108
So the issue affects only those textures that are marked as "tiled". As ct.js now extrudes the sides of textures in all directions (added in https://github.com/ct-js/ct-js/commit/ba52f95073c8e52d01373d62f4d97c256ddb71ed), there are no issues with tiling regular sprites/tiles.

In https://github.com/ct-js/ct-js/commit/04ddc3d183a9b0931cb451daca7b47121c0ddc75, the checkbox "Is tiled" got renamed int

[2019-10-08 22:12] #108 closed

[2019-10-10 20:20] MMLich opened #130 "Ability to change Sprites hue"
**Is your feature request related to a problem?**
If I want to create for example randomly generated characters with different colors of hair, skin, clothes, etc. I must use different textures.

**Describe the solution you'd like**
The ability to change the hue of sprites would be very helpful.
This would allow a programmer to create a variety of objects with the same texture and save time and har

[2019-10-10 23:26] CosmoMyzrailGorynych commented on #130
I thought you were talking about changing textures inside ct.IDE, like in YoYo Game Maker with its hue rotation :upside_down_face:

In ct.js, the general approach for that is creating a mostly white texture with shadows (a texture of white hair, white dress, etc.) and then colorize it in the game with `this.tint = 0xff0000;`
The thing after `0x` is a HEX color. This is applicable for most pixi obj

[2019-10-11 04:25] MMLich commented on #130
Oh, I didn't know that. Yes, I mean hue rotation, but the tint is a better way. I am not familiar with Pixi much. Though, changing textures inside IDE would be cool as well.

[2019-10-11 04:25] #130 closed

[2019-10-11 04:26] MMLich commented on #130
Oh, I didn't know that. Yes, I mean hue rotation, but the tint is a better way. I am not familiar with Pixi much.
 Though, changing textures inside IDE could be cool as well.

Overall: sorry for bothering and thanks for your help.

[2019-10-14 04:37] leedigital commented on #63
This one I would like to help. After I finish translating the [official documentation](https://docs.ctjs.rocks/) into Brazilian Portuguese. ^_^

[2019-10-14 08:31] CosmoMyzrailGorynych commented on #63
@leedigital Then you better help @Atavismus with that as they already started making this module ;) They are `SN` at our Discord server

[2019-10-14 17:23] leedigital commented on #63
OK. My name on the Discord server is araujo921, I'll send him a message. ^_^

[2019-10-17 05:41] CosmoMyzrailGorynych opened #131 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github null null

[2019-10-17 05:41] CosmoMyzrailGorynych opened #132 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github null null

[2019-10-17 05:42] #131 closed

[2019-10-17 05:42] #132 closed

[2019-10-17 21:41] CosmoMyzrailGorynych opened #133 "A test issue autoposting message"

[2019-10-17 21:56] CosmoMyzrailGorynych opened #134 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github type:bug type:enhancement

Transferred via Integromat from Discord server

[2019-10-17 22:05] CosmoMyzrailGorynych opened #135 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github

Transferred via Integromat from Discord server

[2019-10-17 22:07] CosmoMyzrailGorynych opened #136 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github

Transferred via Integromat from Discord server

[2019-10-17 22:10] CosmoMyzrailGorynych opened #137 "A test issue autoposting message"
This is a test *message* of posting messages from discord to github

Transferred via Integromat from Discord server

[2019-10-17 22:11] #133 closed

[2019-10-17 22:11] #134 closed

[2019-10-17 22:11] #135 closed

[2019-10-17 22:11] #136 closed

[2019-10-17 22:11] #137 closed

[2019-10-20 05:53] CosmoMyzrailGorynych commented on #75
![image](https://user-images.githubusercontent.com/3174357/67155393-7bbf7400-f362-11e9-9366-e22b11c11b88.png)
![image](https://user-images.githubusercontent.com/3174357/67155394-867a0900-f362-11e9-893f-9cd8d871c3ac.png)

[2019-10-20 10:31] Tyrannas commented on #62
https://github.com/pixijs/pixi-particles Could this be an option to integrate a particle system instead of the PIXI basic one?
And if I wanted to use it from scratch what could I do, copy/paste the code in a new Settings > Script ?

[2019-10-21 01:05] CosmoMyzrailGorynych commented on #62
Yes, it could be, and will probably be used.

The first step is installing an npm package of it and extracting a minified script from its `dist` folder.
[Here it is](https://github.com/ct-js/ct-js/files/3748632/pixi-particles.min.txt) so you don't need to dig inside the package.

Copy and paste its contents to a new script in the settings tab.

Then let's say that I need to add an emitter to a Rob

[2019-10-21 20:00] Tyrannas commented on #62
Wow thank you for the very complete answer! That's great!
If I may just ask a naive question, why is the Emitter updated in the onStep section and not in the onDraw ?

[2019-10-23 10:43] Tyrannas commented on #62
By the way, I found a potential source of bug when the integration of the particle system will be done.
When creating an emitter there is an option allowing to set the emitter *behind* the sprite.
This does not work with ct.tex though, the emitter will always be on top.
A current workaround is to do this:
[code]
which will do the trick

[2019-10-23 23:19] CosmoMyzrailGorynych commented on #62
Because I didn't think about it much at that time (: It is indeed better to be out in the On Draw event.

[2019-10-27 07:05] CosmoMyzrailGorynych commented on #123
Solved and implemented, but I'd like to add caching to a static file on build times so that those who don't have internet connection still get a list of patrons.

[2019-10-27 08:32] CosmoMyzrailGorynych commented on #123
Closed by https://github.com/ct-js/ct-js/commit/5a7d4342f0913e09f9a634b00bc8e1ea95d90613

[2019-10-27 08:32] #123 closed

[2019-10-28 00:00] CosmoMyzrailGorynych opened #139 "`ct.fs` as an abstraction for file system"
**Is your feature request related to a problem?**
Streams, callbacks, encodings and other features that exist in node.js (nw.js, electron) may provide delicate control for desktop apps but rarely used for games. This creates unneeded clutter and a steeper learning curve for those who don't know node.js.

In ideal, there should be simpler methods with minimal settings, something inspired by [fs-ext

[2019-10-29 22:46] CosmoMyzrailGorynych opened #141 "If an asset is renamed to an already occupied name, it can still be applied"
We can put the same name for two types. There is the "name is already taken" but with "Done" button it saves.
A more logical behavior is disabling a save button and somehow highlighting the message "name is already taken" (e.g. with a shaking animation)

Transferred via Integromat from Discord server

[2019-11-06 02:27] leedigital commented on #128
This is a feature that I would like to work on.... ^_^

[2019-11-06 05:32] CosmoMyzrailGorynych commented on #128
@leedigital Cool! What exactly do you want to work on?
I have some work on a new room editor, but it is way, waaay far away from finishing.

[2019-11-06 13:36] leedigital commented on #128
whatever you want me to do first ... but I think putting one room in another is something I really want to do.... ^_^

[2019-11-06 21:17] #80 closed

[2019-11-06 21:29] CosmoMyzrailGorynych commented on #128
Then your starting point is an internal method `ct.rooms.forceSwitch` :muscle: https://github.com/ct-js/ct-js/blob/develop/app/data/ct.release/rooms.js#L103
Don't forget about a companion pull at https://github.com/ct-js/docs.ctjs.rocks

[2019-11-06 21:41] CosmoMyzrailGorynych commented on #43
So a proposal is to provide [typescript declaration files](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) and get them loaded in `monaco-editor` like it is in its [feature branch](https://github.com/ct-js/ct-js/tree/feature/monaco/). Let's assume they will be in the root of a module folder and be optional to load, named `typedefs.d.ts`.

[2019-11-07 01:17] CosmoMyzrailGorynych commented on #92
Closed by #142

[2019-11-07 01:17] #92 closed

[2019-11-07 21:24] CosmoMyzrailGorynych opened #145 "More straightforward font input in style editor"
**Describe the current state of the problem**
Currently, there is a text input for a font family, similar to what works for CSS `font-family` property. This is good for users who work with CSS, but it is not intuitive for those who don't.

**Describe the solution you'd like**
* A help icon that will show some examples of proper font families, and the rules for writing them;
* A font picker for fon

[2019-11-07 21:48] CosmoMyzrailGorynych opened #146 "monaco-editor as a replacement of ace.js"
* [x] ct.js typedefs
* [x] correct typings for copies' and rooms' events
* [x] hide the lines needed to provide correct typings
* [x] themes
* [x] options
  * [x] realtime theme change
  * [x] realtime ligatures
  * [x] line height
  * [x] font size on ctrl +, ctrl -
* [x] code completions from modules, https://github.com/ct-js/ct-js/issues/43
* [x] :bug: buttons break monaco's search form and oth

[2019-11-11 10:20] #126 closed

[2019-11-12 04:24] CosmoMyzrailGorynych commented on #43
So the support for autocompletion (by typescript's typedefs) has landed in the [feature/monaco](https://github.com/ct-js/ct-js/tree/feature/monaco) branch. I invite volunteers to add typedefs to the existing modules of ct.js: see the example at [app/data/ct.libs/place/types.d.ts](https://github.com/ct-js/ct-js/blob/feature/monaco/app/data/ct.libs/place/types.d.ts)

[2019-11-14 22:46] CosmoMyzrailGorynych opened #147 "If a user clicks an external link in the sidebar docs, ct.js crashes"
**Steps to reproduce:**

1. Create a new project;
2. Open the sidebar on the right;
3. Click "Help" tab;
4. Click "Get ct.js", "Discord" or other links with an icon that points that it is an external link;
5. Observe ct.js crashing

Transferred via Integromat from Discord server

[2019-11-16 15:25] erlend-sh commented on #115
I would recommend having a look at https://github.com/tauri-apps/tauri

It's still a bit early, but we're gonna be using it for [Amethyst](https://github.com/amethyst/amethyst) our our own editor project [atelier-editor](https://github.com/amethyst/atelier-editor).

[2019-11-17 23:29] CosmoMyzrailGorynych opened #148 "Splash screen maker"
**Is your feature request related to a problem?**

This issue solves two tasks:

* improves ct.js' visibility in published games;
* allows game developers to quickly create neat-looking splash screens with their logos, sponsors, and stuff.

**Describe the solution you'd like**
There should be a visual editor that allows making splash screens as a sequence of slides with several properties:

- a te

[2019-11-17 23:38] CosmoMyzrailGorynych opened #149 "Game splash screen / loader customizer"
**Is your feature request related to a problem?**
While a ct.js game loads, a blue line with a "Loading…" text is shown on a black background. This doesn't look good, it doesn't correctly represent the ct.js brand, it is often misplaced, and gives no options to configure.

**Describe the solution you'd like**
There should be a setting panel that allows setting colors of the preloader, its size, it

[2019-11-18 04:35] CosmoMyzrailGorynych opened #150 "Can't put multiple tiles with Shift key pressed"
**Describe the bug**
If the Shift key is pressed, you can't put multiple tiles while dragging your mouse. It generates two tiles sometimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Add a texture
3. Create a room, open it
4. Select the texture as a tile, try drawing it with a Shift key pressed
5. Observe as ct.js only puts at max one tile in one stroke

**Expected b

[2019-11-18 04:35] #146 closed

[2019-11-18 05:08] CosmoMyzrailGorynych commented on #147
It is either specific to windows or particular nw.js version.

[2019-11-18 05:13] #147 closed

[2019-11-19 22:18] #150 closed

[2019-11-20 04:13] #141 closed

[2019-11-20 22:38] CosmoMyzrailGorynych opened #151 "ct.flow, ct.u.wait, ct.tween should operate based on ct.delta, with optional setTimeout mode"
**Describe the current state of the problem**
`ct.flow`, `ct.tween` and the built-in method `ct.u.wait` all work with time. Internally, they use `setTimeout`, which is good for UI and most gameplay-related cases, but will fail if a game developer uses slo-mo effects or has, in the opposite, time acceleration controls (a la Sims), as these change ct.delta on which is based all the ct.js' logic.

**

[2019-11-21 01:47] #43 closed

[2019-11-22 05:13] #91 closed

[2019-11-26 01:51] #116 closed

[2019-11-26 01:59] CosmoMyzrailGorynych commented on #116
This one is interesting. For some reason, the temporary directory `zippedProject` remained empty when it should be filled with copied files. Probably a malfunction in `fs.emptyDir`. `fs.remove` didn't help either. It happened exactly each second attempt to zip the project.

The solution was to create individual, unique temporary folders for each zip procedure.

TL;DR: hello windows

[2019-11-26 08:39] Wend1go opened #154 "Monaco editor marks functions defined in scripts as unknown"
**Describe the bug**
Functions that are written in a script are marked with a red squiggly line in the new Monaco based editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new project
2. Add a new script in the settings tab and create a function
3. Add a new room and create a room event
4. Call the function that was defined in the script
5. The editor marks it in red and shows "Can

[2019-11-26 08:42] CosmoMyzrailGorynych opened #155 "ct.fittoscreen should enter/exit fullscreen in a desktop app and debugger as well"
**Describe the current state of the problem**
Currently, ct.fittoscreen does not work in nw.js, as well as it fails in the debugger. Nw.js has controls to enter/exit fullscreen without FullscreenAPI, occupying the whole screen.

**Describe the solution you'd like**
ct.fittoscreen should toggle fullscreen in an nw.js app as well. With a debugger, caution is needed, as well as additional means like

[2019-11-26 08:51] CosmoMyzrailGorynych opened #156 "Project settings, or desktop exporter, should have an option to automatically launch in fullscreen mode"
**Describe the current state of the problem**
It is usually expected that a desktop game launches in a fullscreen mode, though not always. The current packer for the desktop platforms, though, always packs games with a package.json that sets fullscreen to `false`.

**Describe the solution you'd like**
There should be an option to set the default behavior. #155 should help with changing the fullscr

[2019-11-26 09:19] CosmoMyzrailGorynych commented on #154
Yes, currently the editor is clueless about what happens outside itself and outside type definitions of ct or catmods ¯\_(ツ)_/¯

[2019-12-09 04:46] CosmoMyzrailGorynych opened #159 "Strongly scaled textures (and notably particles) still have bleeding artifacts on edges"
When scaling is set to relatively small values (e.g. to 0.13 with a 512x512 texture), partially transparent textures, like diagonal tiles, have leaking borders that appear due to the pixi's tiling method.

A possible solution could be a control that sets how thick a texture extrusion should be (currently, ct.js extrudes sides of textures by one pixel).

Transferred via Integromat from Discord serv

[2019-12-09 20:10] MMLich opened #160 "Background repeat-x changes to repeat-all (?) when use some of fittoscreen.modes"
While changing ct.fittoscreen.mode to "expand" or "scaleFill" the background changes its behavior rapidly and it cant be even undone by switching the mode back. The background "repeat-x" doesn't work with these modes selected in IDE neither in-game.

[BGrepeatTEST.ict.zip](https://github.com/ct-js/ct-js/files/3941524/BGrepeatTEST.ict.zip)

[2019-12-10 00:11] CosmoMyzrailGorynych commented on #63
Closed in https://github.com/ct-js/ct-js/commit/2210fde63db5946336976118a54f5c1b15be0250

[2019-12-10 00:11] #63 closed

[2019-12-10 05:41] CosmoMyzrailGorynych commented on #139
Debugger hangs up for some reason if node is enabled. I'm migrating to electron \*welp*

[2019-12-10 21:12] CosmoMyzrailGorynych opened #161 "Migrating to electron"
NW.js has a number of issues, e.g. #115 with similar problems in our current build pipeline disallow building for macOS on Windows. Also, the built-in debugger hangs up when it triggers a breakpoint, freezing the whole window (thankfully ct.IDE itself in a separate drawing process). It also revealed that with node.js enabled in the debugger, the latter can hang up in any moment. This blocks the de

[2019-12-16 00:51] CosmoMyzrailGorynych opened #162 "Reworking the icon system for ct.IDE's interface"
**Describe the current state of the problem**
The current approach uses [Feather icons](https://feathericons.com/) inside an [Icomoon app](https://icomoon.io/app/). Though it provides some handy UI for reviewing and managing lots of icons, there is a number of issues that outweigh this approach:

* The result is separated from its source. The source project should be uploaded manually. The latest

[2019-12-16 00:56] CosmoMyzrailGorynych commented on #74
closed by https://github.com/ct-js/ct-js/commit/4d0554b253de08b3de8c3cf2d7447fbe43742dba

[2019-12-16 00:56] #74 closed

[2019-12-16 01:05] CosmoMyzrailGorynych opened #163 "Ct.js exporter as a stand-alone node module"
**Is your feature request related to a problem?**
Not quite, but it will open avenues to a couple of things:

* CI/CD for games, with live previews for merge requests and automatic deployment without any PC (a dream!);
* using ct.js as a framework separately from ct.IDE, whilst keeping a common project format.

**Describe the solution you'd like**

The exporter could be a stand-alone module, witho

[2019-12-18 00:51] CosmoMyzrailGorynych commented on #161
Closed in https://github.com/ct-js/ct-js/commit/283c831b648624f171cc0e91051441497a1d11d7

[2019-12-18 00:51] #161 closed

[2019-12-18 05:51] #162 closed

[2019-12-28 09:35] Grishy opened #165 "Error exporting project"
**To Reproduce**
Steps to reproduce the behavior:
1. Open Memocats
2. Export the Project
3. Export
4. See error

Using v0.34.1 (normal)
Error: EROFS: read-only file system, mkdir '/private/var/folders/2s/p2z2fbrj7rl_74d9tt9z2l_r0000gn/T/AppTranslocation/F4E00742-2E0A-41DE-AA72-6A244E86A13D/d/ctjs.app/Contents/Resources/app.nw/cache/0.34.1-normal/osx64'

**Screenshots (recommended)**
![image](https

[2019-12-28 09:43] Grishy opened #166 "Add "About" button with all info for Issues"
**Is your feature request related to a problem?**
Now, to describe the system, you need to write yourself information about the system, version, etc.
At the moment, it’s rather inconvenient to see the version, you need to close the project and go to the main page.

**Describe the solution you'd like**
Add "About" button to quickly copy the necessary information about the system.

**Additional cont

[2020-01-31 00:55] CosmoMyzrailGorynych opened #168 "Deprecations and stuff to do for v2 (with migration guide supplied)"
### The roadmap for v2 is here: https://github.com/orgs/ct-js/projects/2
---

Major versions are breaking ones, and that's where it should break:

* [x] #314
* [x] #235
* [x] `Copy.rotation` should not proxy Pixi's `rotation` parameter and convert radians to degrees. Pixi has a built-in `angle` for degrees and `rotation` for radians. Using `rotation` as a go-to value for rotating stuff in ct.js wa

[2020-02-16 10:29] #101 closed

[2020-02-16 10:36] CosmoMyzrailGorynych commented on #128
So a fat chunk of improvements in this direction was made in https://github.com/ct-js/ct-js/commit/902c92d1376427094afaecbb7736ceacf3eaae22 with the help of @leedigital. It introduces nesting rooms, `ct.camera`, and the concept of UI coordinates opposed to game coordinates. And it all meets together nicely.

There are WIP docs at https://github.com/ct-js/docs.ctjs.rocks/tree/v1.3

[2020-02-16 11:14] CosmoMyzrailGorynych opened #169 "ct.IDE's debugger hangs up when a breakpoint triggers. Again."
**Describe the bug**

If a breakpoint triggers inside the ct.IDE's debugger, it locks up not only the game but also the chrome debugger with their parent window (ct.IDE's debugger interface). Restarting does not remove a breakpoint, thus potentially dead-locking the debugger.

(If you did manage to create a deadlock: create a syntax error in a room/copy code, hit "Play", and remove the breakpoint

[2020-02-19 02:38] CosmoMyzrailGorynych commented on #62
Closed in https://github.com/ct-js/ct-js/commit/fd3ee760d14add3161f76b5b492b64887d6ec329 :tada:

[2020-02-19 02:38] #62 closed

[2020-02-19 05:21] CosmoMyzrailGorynych opened #170 "Store projects in JSON5. No, in YAML"
**Describe the current state of the problem**
The current JSON format is not git-friendly due to types' and rooms' scripts being stored in one line. This is impossible to merge, and not space-efficient.

**Describe the solution you'd like**
JSON5 can be a good band-aid before ct.js fully changes its storing mechanism. It fully supports regular JSON, so no converting required, but stores strings wi

[2020-02-20 03:11] CosmoMyzrailGorynych commented on #139
Blocked by #169

[2020-02-20 03:24] #160 closed

[2020-02-20 05:00] #154 closed

[2020-02-24 23:20] #169 closed

[2020-02-25 02:24] #139 closed

[2020-02-25 13:25] Wend1go opened #171 "Error on adding particle effect"
**Describe the bug**
When hitting the "Add" button in the FX tab the error in the screenshot is displayed in the console.
The particle editor doesn't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Click on the "FX" tab
3. Hit the "Add" button
4. See error

**Expected behavior**
The particle editor should show up

**Screenshots (recommended)**
![image](https:

[2020-02-25 21:13] #171 closed

[2020-02-25 21:13] CosmoMyzrailGorynych commented on #171
Nice catch! Fixed :ok_hand:

[2020-02-25 22:34] CosmoMyzrailGorynych commented on #103
Well, it resolved not in the way it was written here originally, but still ct.js now checks for types and provides docs for built-in and module-provided methods.

[2020-02-25 22:34] #103 closed

[2020-02-25 22:38] CosmoMyzrailGorynych commented on #165
Also see #115

[2020-02-26 00:53] CosmoMyzrailGorynych commented on #117
A better alternative is adding a special module for this task, like `ct.place.projectType(typeName, x, y, ctype, transforms)`, where `transforms` is optional and is an object with `rotation` and `scale.x`, `scale.y` properties.

[2020-02-26 04:10] CosmoMyzrailGorynych commented on #47
Partially solved: ct.js' games now have favicons

[2020-02-26 04:50] CosmoMyzrailGorynych opened #174 "Exporting games as electron packages"
**Describe the current state of the problem**

This issue replaces #47, #165, #115.

As ct.IDE migrated to Electron, its packaged games should do as well: it is required to at least make a dev environment (from user's side) identical to the one that exists in an exported game. Additionally, it will allow using more complete tools to build upon, which is beneficial for all sides as the result will

[2020-02-26 04:51] CosmoMyzrailGorynych commented on #115
Closed in favor of #174

[2020-02-26 04:51] #115 closed

[2020-02-26 04:52] CosmoMyzrailGorynych commented on #165
Closed in favor of #174

[2020-02-26 04:52] #165 closed

[2020-02-26 04:52] CosmoMyzrailGorynych commented on #47
Closed in favor of #174

[2020-02-26 04:52] #47 closed

[2020-02-26 05:45] CosmoMyzrailGorynych commented on #170
So I checked different json5 packages, as well as hason, json6 and such, and none of them stringified to a multiline string. `yaml` package, though, did. Soooo

[2020-02-26 22:17] #170 closed

[2020-02-26 23:19] #159 closed

[2020-03-01 21:10] CosmoMyzrailGorynych commented on #174
[`electron-packager`](https://github.com/electron/electron-packager) seems to be more cross-platform and less CI-oriented, which is suitable for regular PCs

[2020-03-02 03:41] #174 closed

[2020-03-02 03:41] #156 closed

[2020-03-08 14:46] uemganix opened #175 "backgroud image show weird gaps"
**Describe the bug**
any project created by myself showing weird gaps on the background image, however official example projects run good with no gaps

**To Reproduce**
create a new project
create a room and add a background image with repeat on both x and y axis
run the project

**Screenshots (recommended)**
![capt](https://user-images.githubusercontent.com/20217288/76165036-a2a20980-618e-11ea-93

[2020-03-09 20:09] CosmoMyzrailGorynych commented on #175
You should mark the background as such in its settings. See https://docs.ctjs.rocks/troubleshooting-teared-background.html

[2020-03-09 21:03] CosmoMyzrailGorynych commented on #175
Btw you've sent me an empty project. Don't forget to save your projects first :wink:

[2020-03-09 21:03] #175 closed

[2020-03-28 19:39] naturecodevoid commented on #121
Could we use the 'vkeys' catmod to do this? I was able to add buttons to the platformer tutorial very quickly, but I haven't tested it on mobile.

[2020-04-05 00:51] naturecodevoid commented on #151
Could I work on this?

[2020-04-05 20:33] CosmoMyzrailGorynych commented on #151
@naturecodevoid, sure! I now think, though, that there should be pairs of methods instead of methods with additional options (`ct.tween.add` and `ct.tween.addUi`, for example), as it will be more readable and and uniform compared to existing methods in ct.mouse and ct.touch.

[2020-04-05 21:55] naturecodevoid commented on #151
I've been trying to use `setInterval` for a timer using `ct.delta`/`ct.deltaUi`, but I'm having some trouble getting it to work. Should I make a commit to my fork? Or I could paste a code snippet here.

[2020-04-05 22:58] CosmoMyzrailGorynych commented on #151
Both are fine 👍

I think that ct.tween and others should be reworked to work more like vanilla timers that update at each frame (there are "injections" that allow to place code at specific positions, see https://docs.ctjs.rocks/making-mods.html). But if setInterval will work, it will be fine too.
On апр. 6 2020, at 9:55 утра, naturecodevoid <notifications@github.com> wrote:

[2020-04-05 23:23] naturecodevoid commented on #151
Here's the code:
[code]
It's pretty messy and I still need to seperate the different modes. I'll look at the injections thing, looks promising (Or I'll just edit the code directly). Maybe `ct.timers`? It could be expanded to hold more than the internal timers.

[2020-04-06 17:44] naturecodevoid commented on #151
I'm going to try the injections/editing the loop code thing.

[2020-04-11 08:40] CosmoMyzrailGorynych commented on #151
@naturecodevoid better expand ct.js' core library, as timers are pretty essential to gamemaking

[2020-04-11 10:05] #166 closed

[2020-04-12 04:49] #121 closed

[2020-04-12 05:32] #95 closed

[2020-04-13 18:19] naturecodevoid commented on #76
While #39 isnt finished, I could make an attempt at this once I finish the zooming pr (#180)

[2020-04-13 22:29] naturecodevoid commented on #117
I'd like to make an attempt on this.

[2020-04-14 16:49] naturecodevoid commented on #119
I can make an attempt on this.

[2020-04-21 22:36] naturecodevoid commented on #87
Could I make an attempt at this?

[2020-04-22 00:01] naturecodevoid commented on #53
Could I experiment with this and try to make something that works?

[2020-04-22 01:48] CosmoMyzrailGorynych commented on #53
sure

I'm afraid it will be too hard to integrate into ct.js, and then even harder into a room editor

[2020-04-22 21:19] naturecodevoid commented on #75
Could I try to separate the .ict file into folders/files?

[2020-04-23 00:43] CosmoMyzrailGorynych commented on #75
Let's discuss it first here: https://docs.google.com/document/d/1qc1VOMZw4ddV2O4VCzbMncZP1HajTU1oK6Rjwz4Tlog/edit?usp=sharing

[2020-04-23 00:46] naturecodevoid commented on #75
I don't have permission? We could do it on Discord

[2020-04-23 00:55] CosmoMyzrailGorynych commented on #75
Could you try again? I've fixed the privacy settings

[2020-04-23 14:50] naturecodevoid opened #185 "Prettier styling?"
This would give a consistent style throughout code.

I believe I have the main idea of the current 'style' here:
[code]
[prettier.io playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAzArlMMCW0AEAEnADYkQDqEATiQCYAUwA5tXHLlM-gLz4A6IABalyggDT5W7eHV74A5IKq06ghZIDOOEghjzUAQxKa4k6AFkI6UwHkAbnGriAvgEp8wflG-58OVAYAQmkOHC43YDYYdGoofCh0MhcAbm9fPz8Aeiz8ABVbABFbJHxC6AV9Gzh8akMoOggAW394tganDN19RJa

[2020-04-30 00:06] CosmoMyzrailGorynych commented on #185
Is there a way for Prettier to work with tag files??

[2020-04-30 00:32] naturecodevoid commented on #185
I was thinking it could use the pug plugin but might be different types of files??

[2020-04-30 00:43] #119 closed

[2020-04-30 00:46] CosmoMyzrailGorynych commented on #185
Hm, then it probably will work.

[2020-04-30 00:47] naturecodevoid commented on #185
I can add it to the branch; see https://prettier.io/docs/en/plugins.html.

[2020-04-30 01:27] CosmoMyzrailGorynych commented on #185
It would be really cool :heart: Then it would cover all our codebase.

[2020-04-30 01:45] naturecodevoid commented on #185
Should I create a PR?

[2020-04-30 02:24] CosmoMyzrailGorynych commented on #185
I'll try to check the `prettier_formatting` branch today; have no possibility to dive in it atm :woozy_face:

[2020-05-04 08:54] #151 closed

[2020-05-04 15:30] zachdyer opened #187 "Seed Randomizer"
This is more of a feature request than an issue. Wouldn't it be cool if we could use a seed Randomizer so we could make procedural games like no man's sky and Minecraft except it would be 2d instead of 3D. What does everybody think about this idea?

[2020-05-05 01:45] CosmoMyzrailGorynych commented on #187
It is without doubt a nice feature to have built-in 👍

[2020-05-05 08:03] CosmoMyzrailGorynych commented on #185
![image](https://user-images.githubusercontent.com/3174357/81045965-6cbd9f00-8f0b-11ea-88ab-b8fb1be3f5f6.png)

UUUUUUUHHH

[2020-05-05 08:36] CosmoMyzrailGorynych commented on #185
And so it breaks in a number of places. Anything like `|  string`  (two or more spaces after the pipe) breaks a file, and I see inconsistencies in tag interpolation:
[code]

After that, it fails to read these files again, because they are now broken.

Besides that, prettier is quite opinionated and this results in several inconveniences, most notably with `property: [{a: "b"}]` structures, where P

[2020-05-05 08:45] CosmoMyzrailGorynych commented on #185
Now, ESLint has a nice amount of style checks (https://eslint.org/docs/rules/#stylistic-issues), so maybe improve ESLint instead of incorporating a new tool in the build pipeline. It also works well with VSCode and has tons of other goodies that disallow one shooting themselves in their foot. I can see a plugin https://www.npmjs.com/package/eslint-plugin-pug that does not mess with pug syntax but

[2020-05-06 10:00] CosmoMyzrailGorynych opened #188 "Bitmap fonts"
**Is your feature request related to a problem?**
Yes, currently most browsers render pixel fonts badly, with blurring and characters being thicker than it is needed. Seems that it only happens on `x` axis. A solution is using bitmap fonts: it will also make rendering big dynamic textboxes faster.

**Describe the solution you'd like**
Two variants:

* A new asset type "Bitmap font" that can be imp

[2020-05-06 14:55] naturecodevoid commented on #187
Maybe a catmod?

[2020-05-07 00:21] CosmoMyzrailGorynych commented on #187
I think that ct.random is the most  logical place to add this feature

[2020-05-07 00:22] CosmoMyzrailGorynych commented on #187
btw @zachdyer if you want this functionality right now, you can write it in 5 lines of code or so; Google has lots of examples

[2020-05-08 17:40] rBok6 opened #189 "Add an option to organize textures and copies by group or category"
**Describe the current state of the problem**
Currently if you have lots of textures or copies it's very difficult to find all the ones you need for your project. You have a search box to find copies but I think It would be better if a group or category system is implemented.

**Describe the solution you'd like**
For example, in the textures tab there should be an option called "create texture gro

[2020-05-09 12:29] CosmoMyzrailGorynych commented on #189
Duplicate of #75

[2020-05-09 12:29] #189 closed

[2020-05-10 09:48] CosmoMyzrailGorynych commented on #185
Seems to work but there is a lot to fix in the linted code :D

![image](https://user-images.githubusercontent.com/3174357/81495920-f43e5000-9307-11ea-91fa-187d39a51732.png)

[2020-05-10 14:28] naturecodevoid commented on #185
are you able to push to my branch? if not, I can make a pr

[2020-05-11 17:14] rBok6 commented on #75
The folder grouping is pretty much what I had in mind but the other idea of showing categories in room editor #189 wasn't taken into consideration so I made this to explain myself better. This approch could be useful in both Textures and Types tab and categories created by the user should appear in the room editors as seen in this image that i made for you.

![ctjsissue](https://user-images.github

[2020-05-11 19:07] stefanmm opened #190 "PIXI text not being rendered in Canvas mode (Brave, FF)"
**Describe the bug**
Hi, I found a bug inside "Jetty Cat" example, but I got the same bug when I created new clean project. It's PIXI component.

So: when I play game (click on play from ct.js editor) everything is fine. But when I compile for web I can't see PIXI text. Text is there, I can see font stroke, but there is no text. See screenshots.

Tested:
Chrome stable - works
Brave stable - not wo

[2020-05-12 04:28] CosmoMyzrailGorynych commented on #185
I cannot do it directly. The linter works, I just need to fix its warnings in tag files, and then I'll push to develop.

Focus on other issues, if you want :D

[2020-05-12 13:41] naturecodevoid commented on #185
Ok, been working on some other projects, sorry!

[2020-05-13 18:56] IcoderGameDev commented on #68
i tried compiling the source and this happened (i installed gulp)
$ gulp -f devSetup.gulpfile.js
and i had this error:
[20:55:15] Local gulp not found in ~/ctjs
[20:55:15] Try running: npm install gulp
the ctjs folder location is in /home/pi/ctjs

[2020-05-14 13:06] CosmoMyzrailGorynych commented on #75
@rBok6 The aim of this issue is to organize _everything_ with folders, without separation between textures, types, rooms, and other assets. It will be more like an asset organization seen in Unity / Unreal Engine because it is more scalable (and more logical) for bigger games, and it will cover more than just a type picker in the room editor. Sooooo it does cover your original issue. Sorry for hea

[2020-05-14 14:17] rBok6 commented on #75
Cool, that looks neat. I didn't know you were redesigning the whole thing. 😍 That looks so much better.

[2020-05-16 23:16] wesleywerner opened #191 "ct.rooms.merge prefab multiple times breaks ct.place.tile"
**Describe the bug**
Calling `ct.rooms.merge` to load parts of a room from prefabs works only if you load the prefab once. When loading the same prefab a second (or more) times into the same room, then the tileLayer.tiles instance for subsequent calls points to the first instance -- thus updating the tiles array positions clobbers the first insance's tiles, breaking any future calls to `ct.place.t

[2020-05-23 18:11] fgoo commented on #191
Hi,

May be related to this issue in append.

I have 3 scenes, calling from main scene Map1 and Map2 as bellow:
[code]
Map1 Types OnStep Scripts works great.
Map2 Types OnStep Scripts don't work.

Regards,

[2020-05-30 05:24] CosmoMyzrailGorynych commented on #191
`ct.rooms.append` and `ct.rooms.merge` are different at their mechanism, yet ct.place should work with all the tile layers. This willostly surely require an API change. Probably it will be `ct.place.tile(copy, x, y, cgroup)`, where cgroup is a string, a collision group used in types.

[2020-05-30 05:26] CosmoMyzrailGorynych commented on #191
To prevent breaking code, ct.place can look at tileLayer.depth if it does not have tileLayer.cgroup.

This issue is also a good opportunity to add moddable fields to tile layers

[2020-05-30 05:29] CosmoMyzrailGorynych opened #192 "At comigo.itch.io/ct, feature icons look too squished on mobile screens"
As the title says :smiley:

![](https://i.imgur.com/26wbUdl.png)

[2020-05-30 05:39] CosmoMyzrailGorynych opened #193 "API for turning retina mode on/off"
Currently, there is a switch at project settings that allows one to enable high pixel density for their project. It is usually fine for mobile games, but on desktop, it would be nice for a user to turn it on/off according to their pc's performance.

It should be one variable against which pixi and ct.fittoscreen work.

[2020-05-30 05:45] CosmoMyzrailGorynych opened #194 "ct.camera.scale should support direct assignment"
From this discussion: https://itch.io/t/795758/ctcamerascale-2-doesnt-work-yet-thisscale-2-works

So with regular copies, one can write `this.scale = 2` instead of writing `this.scale.x = this.scale.y = 2;`.

`ct.camera.scale` should work with direct assignment with a float value. By doing that, its API will be more compliant to the rest of ct.js.

[2020-05-30 06:09] CosmoMyzrailGorynych opened #195 "Suggestions at room's event editor are broken (a box with invisible items inside)."
Somehow got introduced in v1.3.

Steps to reproduce:

1. Create a new room;
2. Edit its events;
3. Write `this.`
4. See an empty box of autocompletions that are transparent (?).

It is either an outdated css of monaco, or monaco issue as is, or spmething at rooms' stylesheets.

[2020-05-31 09:01] CosmoMyzrailGorynych commented on #185
I think we can count it as closed with https://github.com/ct-js/ct-js/commit/110bbbd2076b5c03f6bc6ef27e82e4810bc84dcd

No automatic fixes, unfortunately, but a linter that requires manual edits is better than no linter at all.

[2020-05-31 09:01] #185 closed

[2020-06-13 03:47] rafaelhipercg commented on #195
![Screenshot_20200613_004527](https://user-images.githubusercontent.com/10676754/84559242-48758f00-ad0f-11ea-8292-4267fe0b4872.png)
Same here, really annoying.

[2020-06-17 03:53] SilverSight1 opened #198 "JettyCat example broken"
# TODO

- [x] Fix ct.tween
- [x] Update the tutorial

---

Hi. I've been following the tutorial included inside of ct.js, and in the polishing JettyCat section, we make the rooms UI_Paused, and UI_OhNo fade in from 0 alpha. UI_OhNo works as intended, but UI_Paused doesn't show any UI (the continue button still works though).

**To Reproduce**

add
---

this.alpha = 0;

ct.tween.add({
    obj:this,

[2020-06-17 04:02] CosmoMyzrailGorynych commented on #198
Honestly, the issue sounds invalid; could you send your project so I can reproduce it 100% and find the problem?

[2020-06-17 04:05] SilverSight1 commented on #198
[cattyJetpractice.zip](https://github.com/ct-js/ct-js/files/4790292/cattyJetpractice.zip)

[2020-06-17 04:08] SilverSight1 commented on #198
I'm having the same problem with the finished example provided under ctjs > examples > JettyCat.ict

[2020-06-17 04:59] CosmoMyzrailGorynych commented on #198
Indeed, there is a bug in `ct.tween` that prevents using UI time. The API used in the tutorial is also a bit dated. I've located the issue and will fix it in the next release. Right now, download my current version of `ct.tween` and replace yours with it:

[tween.zip](https://github.com/ct-js/ct-js/files/4790433/tween.zip)

You will also need to add `useUiDelta: true` to those `ct.tween.add` calls

[2020-06-17 05:35] #198 closed

[2020-06-17 05:47] CosmoMyzrailGorynych commented on #195
A little clue: disabling `overflow: hidden` here brings the suggestions back.

![2020-06-17_17-46](https://user-images.githubusercontent.com/3174357/84860123-951bea00-b0c2-11ea-948b-53f33d6a1f34.png)

[2020-06-22 21:06] #195 closed

[2020-06-23 00:52] CosmoMyzrailGorynych commented on #191
Well, the issue is in another place: it is in object linking at tiles that causes such snippets:

[code]

To be called numerous times on the same four objects. (Call your prefab code and notice how prefabs spawn at different position on each call.)

Tho I still implemented collision groups for tile layers XD

[2020-06-23 00:59] CosmoMyzrailGorynych commented on #191
Ayyyyyy

![Peek 2020-06-23 12-58](https://user-images.githubusercontent.com/3174357/85349015-6635c600-b551-11ea-8c65-ad2a438ce2dc.gif)

[2020-06-23 01:04] #191 closed

[2020-06-23 01:04] CosmoMyzrailGorynych commented on #191
I also currently recommend shifting visual tiles instead of moving their tileset until #128 is settled:

[code]

[2020-07-02 08:03] wesleywerner commented on #191
Excellent, thanks for all your effort on this wonderful project, Cosmo!

[2020-07-02 11:41] helliandro opened #199 "Game export issues"
**Describe the bug**
When trying to export any game to Windows, the ct.js program does not stop processing the information and cannot complete the export. I wait an hour and nothing happens.
log:
Exporting the project…
Adding desktop resources…
Preparing build metadata…
Baking icons…
Ready to bake packages. Be patient!
Building for Windows…

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-07-02 12:48] CosmoMyzrailGorynych commented on #199
Cannot reproduce. Probably, you have connectivity issues or low connection speed. There is no means to track the progress of package downloads yet.

1. Make sure ct.js has access to the internet: it must not be blocked by antivirus or firewall. Your PC should be able to access electronjs.org.
2. Try again and output dev console (right-click + inspect element, then open Console and Network tabs and

[2020-07-02 14:29] helliandro commented on #199
I disabled the antivirus and the firewall to perform this action, but I still did not get results. I have a good internet speed, but the export still doesn't work. Thanks for the feedback!

[2020-07-02 21:59] CosmoMyzrailGorynych commented on #199
What about the console and network tab? It may shed light on what is going on in ct while exporting.

![Peek 2020-07-03 09-57](https://user-images.githubusercontent.com/3174357/86412768-c8da4f00-bd13-11ea-941b-4a2c86bebc11.gif)

[2020-07-07 01:42] CosmoMyzrailGorynych opened #200 "Integration into system and installers"
**Is your feature request related to a problem?**
ct.js is a pretty self-contained app, but without additional efforts, setting it up may be cumbersome or problematic for most users. This issue includes talks on installers, integration with systems, and shell usage.

Pros:

* Much better onboarding, which is especially important for educational institutions.
* Less fuzz for users to update ct.js (

[2020-07-07 01:44] CosmoMyzrailGorynych commented on #200
cc @naturecodevoid

[2020-07-07 02:00] naturecodevoid commented on #200
My initial idea:

Python installer using [PyQt5](https://www.riverbankcomputing.com/static/Docs/PyQt5/index.html):
  - Windows style (but cross-platform)
  - Bundled using [PyInstaller](https://pyinstaller.readthedocs.io/)
    - This should allow for users that don't have python to run the installer
  - It can also save the installation location to allow for updates
  - It grabs ct.js through http

[2020-07-07 02:18] CosmoMyzrailGorynych commented on #200
The latest releases at Github are always at https://github.com/ct-js/ct-js/releases/latest

The latest version number is received from itch, at `https://itch.io/api/1/x/wharf/latest?target=comigo/ct&channel_name=${channel}`
Usage example is at https://github.com/ct-js/ct-js/blob/develop/src/riotTags/project-selector.tag#L182

https://ctjs.rocks/download/ currently points to github releases (:

Sou

[2020-07-07 02:54] naturecodevoid commented on #200
I've made a branch for the python installer [here](https://github.com/naturecodevoid/ct-js/tree/issue-200-installer-python).

I'll probably make a pr tomorrow when it's mostly ready.

[2020-07-30 01:51] CosmoMyzrailGorynych commented on #77
Closed for v1.4 at https://github.com/ct-js/ct-js/commit/ed0d0b30bbbd6046c51d4923959e39a6900c7e50
Inheritance in v2 is a separate issue due to its technical implementation.

[2020-07-30 01:51] #77 closed

[2020-07-30 01:54] CosmoMyzrailGorynych opened #203 "Native class inheritance framework"
**Describe the current state of the problem**
Writing external functions and copypasting is boring and wrong.

**Describe the solution you'd like**
True inheritance with additional base classes beyond Copies: labels, buttons, progress bars, panels, static sprites to eat less memory, and other stuff.

**Additional context**

Use cases:

*    different enemies that share one behavior (the current wo

[2020-07-30 01:56] CosmoMyzrailGorynych commented on #199
I'm closing this due to lack of feedback, and because the issue cannot be reproduced.
If someone has the same issue and has logs to share, write here and the issue will be reopened.

[2020-07-30 01:56] #199 closed

[2020-08-03 00:18] CosmoMyzrailGorynych commented on #188
Closed in https://github.com/ct-js/ct-js/commit/d138931758be4cf7dd7a5e74339ec655203df214

[2020-08-03 00:18] #188 closed

[2020-08-03 12:11] weekendkoder commented on #60
Will there be a possibility to add SVG / div Dom / vector to the room-scene so ctJS can convert it on-the-fly to a bitmap ? This way, i guess, you can make very small builds !

[2020-08-03 12:14] weekendkoder commented on #52
As for 3D. Will there be a chance to mix 3D from lets say three.js ? I mean in a way that my main-character sprite is in 3D and game level is in 2D. But they interact together. So i dont mean a 3D ctJS editor, just a mix of both in the game.

[2020-08-03 20:57] CosmoMyzrailGorynych commented on #52
No, this is absurd. Three.js and pixi.js are separate rendering enines tailored for different tasks and they will not work together. You, of course, can stick a 3d model on top of pixi.js canvas, but once you need depth sorting or tighter integration with ct.js, complexity rises exponentially.

In any way, 3D is not part of the scope of ct.js. For 3d, pick another engine.

[2020-08-03 21:00] CosmoMyzrailGorynych commented on #60
This issue is about managing raster sprites. SVGs are rare cases and are not on our roadmap.

[2020-08-05 21:13] CosmoMyzrailGorynych commented on #161
For history: we moved back to nw.js shortly, due to electron crashing randomly on particular operating systems

[2020-08-05 21:16] CosmoMyzrailGorynych opened #204 "v1.4: Script editor is squished to 1px height"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings tab
2. Open the Custom scripts tab on the left
3. Cick "create a new script" or click on the existing one
4. Observe a strange line appearing under the list of scripts, and see no editor

[2020-08-06 08:12] weekendkoder commented on #52
Thx for reply. I have the C2 engine and it has a plugin which you can use threeJS with. Even if its absurd,I find it quite interesting to use it for small tasks. Maybe a plugin could be a chance. Of course, the complexity rises ... here the user can choose. I dont meant to provide a fit threeJS binding inside ctJS, just a possibility. Your engine ctJS looks and feels great to work with it. Thats w

[2020-08-06 08:14] weekendkoder commented on #60
Ok, i now that pixiJS has some loader-function for SVG. I was curios if it works with ctJS ...

[2020-08-06 08:57] CosmoMyzrailGorynych commented on #52
It is not just about complexity from a user's point, but also from a developer's perspective. Such thing will be hard to maintain and distract from more important issues, thus it won't get official. Projection, on the other hand, blends much better with current 2D workflow and will yield great results with fewer efforts, both from end-users and ct.js developers.

The possibility is always here, ad

[2020-08-06 09:00] CosmoMyzrailGorynych commented on #60
Technically, this stuff is achievable, yet SVG sprites are out of scope.
You should better create a separate issue with a feature request for SVG support.

[2020-08-06 11:30] weekendkoder commented on #52
Sounds understandable. I need to look after "projection", for some 3D-ish effects, i guess. Yeah ... within html you can mix things. But it will require more time & knowledge. So, lets see.

[2020-08-06 11:31] weekendkoder commented on #60
I will do a request, soon.

[2020-08-06 18:00] yonderbread opened #206 "Unable to display tilesheet textures before placing a copy"
**Describe the bug**
When I create a room and try to place textures from a tile sheet, they don't appear until I have placed at least one copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a room
2. Load a tile sheet and select a tile to paint with
3. Place a tile down
4. Nothing happens
5. Place a copy down and all the tiles you tried to place will appear.

**Expected behavior**
T

[2020-08-06 23:03] #204 closed

[2020-08-06 23:22] CosmoMyzrailGorynych commented on #206
Ooooh thank youuuu!!!
I could never pinpoint the minimal steps to reproduce this bug. The bug is now fixed :)

[2020-08-06 23:29] #206 closed

[2020-08-07 01:37] #155 closed

[2020-08-07 03:43] weekendkoder opened #207 "SVG support"
It would be nice to have: SVG support. pixiJS can handle it. Even if its only rasterizing, it makes sense, because of 1x Asset, which handles all resolutions. Otherwise you need to have duplicated assets in different resolutions.

[2020-08-07 04:00] #194 closed

[2020-08-07 16:27] yonderbread opened #208 "Keyframing Support"
**Feature**
Add key framing support for types so you can define movement paths and such.

**Describe the solution you'd like**
Being able to add key frames to objects so they could like move back and forth in loop for example.

**Describe alternatives you've considered (optional)**
Hard coding movement for types.

[2020-08-08 00:48] yonderbread opened #210 "Refresh Textures Feature"

[2020-08-08 04:15] #210 closed

[2020-08-09 03:34] CosmoMyzrailGorynych commented on #208
You can use `ct.tween` for smooth values' transitions and skeletal animations for characters and other objects.

[2020-08-09 16:14] yonderbread opened #211 "Disable Image Smoothing Ceases To Work"
**Describe the bug**
Disable image smoothing does not work.

**To Reproduce**
Open a project and enable image smoothing, then try to run your game. Your pixel art will be blurry.

**Expected behavior**
Should have disabled antialiasing.

**Screenshots (recommended)**
https://prnt.sc/twotap

**Versions:**
 - OS: Windows 10
 - ct.js version: 1.4

[2020-08-09 21:15] CosmoMyzrailGorynych commented on #211
@yonderbread I can replicate your issue neither in a new blank project nor in the existing ones.

[2020-08-09 21:16] CosmoMyzrailGorynych commented on #211
Please check your rendering settings again. If it really doesn't work, could you send the project's `.ict` file so I can look inside its rendering settings?

[2020-08-09 22:56] CosmoMyzrailGorynych commented on #48
A more fresh mockup with tabs: https://www.figma.com/file/5ranH0vsypOnCYGIKntGVF/Ct.js-v2?node-id=0%3A1

[2020-08-10 00:10] StuckUpCreations opened #212 "App sound effects off"
I would like to suggest to add the option of turning Ct.js' sound effects off/on.
Currently they are on by default and there is no option to turn them off.

The reason for this request is that i usually listen to podcasts as i do my game developing,
sometimes podcasts have low volume so i turn my headphones up,
when im working i tend to save before running projects, and Ct.js' save sound effect ha

[2020-08-10 00:26] StuckUpCreations opened #213 "Change location of exports"
Currently, when you build a project in Ct.js, it creates a folder named "export" in the parent folder of Ct.js.
In Linux, all apps are in system folders and apps when ran by regular user don't have permission to write in system folders,
this leaves Ct.js unable to build if installed correctly in Linux.

in order to be able to integrate Ct.js correctly in Linux systems, exports location should be m

[2020-08-10 00:50] CosmoMyzrailGorynych opened #214 "Tidy up window.signals name and enforce a policy on listeners' names"
Tidy up the mess with global event listeners, aka `window.signals`. There should be a logical and obvious naming system, an accessible list of names of existing events, and triggers set up on generic asset changes and UI events.

# `window.signals` (WIP)

## Intention of `window.signals`

`window.signals` must only be used to update views of directly edited entities and those entities that use oth

[2020-08-10 00:54] StuckUpCreations commented on #200
my "change exports location" thread is related to this one.. when that is fixed i can create an AppImage too, but AppImage now will have same problem so i will wait.

[2020-08-10 01:01] CosmoMyzrailGorynych opened #215 "Events framework"
This requires heavy edits both in the ct.js framework and ct.IDE.

Goals:

* Provide users more than four events. This will simplify coding for newcomers, and make larger classes more maintainable.
* Events should differ from one class to another, and rooms will have their own events as well.
* Mods should be able to add their events as well.
  * TODO: develop a declarative standard that will inst

[2020-08-10 20:40] yonderbread commented on #211
I found the issue, I needed to change my Fit To Screen settings to "Scaling with letterboxing" when in 1.3 I had it set to "Fast scaling with letterboxing".

[2020-08-10 20:43] yonderbread opened #216 "Copy content from embedded docs"
**Describe the current state of the problem**
I can't copy and paste text from the embedded documentation.

**Describe the solution you'd like**
Be able to copy text from the docs in the ct.js editor.

**Describe alternatives you've considered (optional)**
Opening up developer tools and copying text from there or just viewing the docs externally.

[2020-08-10 20:48] #208 closed

[2020-08-10 21:17] #216 closed

[2020-08-10 21:17] CosmoMyzrailGorynych commented on #216
Fixed!

[2020-08-10 21:27] CosmoMyzrailGorynych commented on #211
Indeed, a CSS rule has gone missing during the v1.4 development. I can now reproduce the problem.
Fixed! :tada:

[2020-08-10 21:28] #211 closed

[2020-08-10 23:13] CosmoMyzrailGorynych opened #217 "Put a huge warning when a user tries to use a texture as a background, but hasn't marked the texture as a background"
**Describe the current state of the problem**
Every week or so users tell that their background has holes when they forgot to mark a texture as a background.

**Describe the solution you'd like**
A huge banner with a button that appears when a user tries to use a texture as a background, but when it is not marked for such usage. The button lets instantly fix this problem.

**Describe alternatives

[2020-08-11 23:37] #212 closed

[2020-08-12 02:12] yonderbread opened #218 "Export to Node.js project"
**Feature Idea**
An "open as node project" option in the project context menu.

**Describe the solution you'd like**
It would be cool if we could export the project as a node environment and modify things externally. I understand that a lot of the ct.js library is tightly connected with features in the editor and being stored in a save file, but once ways of being able to create objects that are o

[2020-08-12 02:21] CosmoMyzrailGorynych commented on #218
Use cases?

[2020-08-13 01:52] yonderbread commented on #218
Being able to have more control over building projects

[2020-08-13 23:05] #213 closed

[2020-08-13 23:09] CosmoMyzrailGorynych commented on #218
For what? What is "control" for you? How would this help to create entities programmatically? (You can all do it from within ct.js itself.)

If you need something in ct.js, tell about it, but don't create vague issues that tell nothing about **the root problem** and just move problems from ct.js to others' shoulders. The section about the problem in the issue template was there on purpose.

[2020-08-13 23:46] #217 closed

[2020-08-14 01:33] CosmoMyzrailGorynych commented on #39
https://github.com/jedateach/pixijs-free-transform-tool

[2020-08-14 05:51] yonderbread commented on #163
Love this plan, also I wasnt aware the ctjs executable had CLI capabilities?

[2020-08-16 22:43] #218 closed

[2020-08-20 05:52] #187 closed

[2020-08-20 23:20] CosmoMyzrailGorynych commented on #214
# WIP

## Operations upon assets

These events must be triggered only from the `node_requires/resources` directory.

For each asset type, these events must be generated (using `texture` as an example here):

* `textureCreated`
* `textureChanged`
* `textureDeleted`

These events are for updates between different entities.
This is currently done for:

* [ ] `texture`
* [ ] `skeleton`
* [ ] `sound`
*

[2020-08-22 03:29] yonderbread opened #220 "Bitmap Fonts Crash The IDE"
**Describe the bug**
When I load a .ttf file and select to generate a bitmap font for it, then launch my game, it freezes up and does **nothing.**

**To Reproduce**
1. Load a .ttf font
2. Check generate bitmap font
3. Launch your game.
Boom! frozen

**Expected behavior**
To load my font and allow me to access it programmatically.

**Screen Recording:**
https://streamable.com/6b39vr

**Versions:**

[2020-08-22 15:56] JulianWebb opened #222 "Current .itch.toml will fail when users try to run the game in itch.io app"
**Describe the bug**
The current multi-platform `.itch.toml` file will fail if included in the current itch.io releases as the itch.io app will attempt to find the files for other platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. Download ct.js through the itch.io app
2. Go to Library -> Installed Items
3. Right Click on ct.js and click show in file manager
4. In opened folder, make

[2020-08-22 16:16] JulianWebb opened #223 "Change "Export for desktop..." build directory"
**Describe the current state of the problem**
Currently when exporting from the itch.io app, ct.js creates it's builds within folders it shouldn't be.
Itch.io currently installs apps into seperate folders within `~/.config/itch/apps/`.
When I export a game from ct.js, it creates it's builds in `~/.config/itch/apps/build/`.

Ignoring the fact that Itch should not be installing applications into a u

[2020-08-22 17:15] JulianWebb opened #224 "[catmod fs] Bring in-line with XDG Base Directory Specification"
**Describe the current state of the problem**
Currently, by default, the "Desktop's file system" catmod uses `~/${author_name}/${project_name}` which has the potential to heavily pollute the user's home directory when ct.js becomes more popular.

**Describe the solution you'd like**
Instead it should follow the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/

[2020-08-23 14:37] yonderbread opened #225 "PixiJs documentation popup toolbar icon is red"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a hyperlink in the Ct.js docs for the Pixi.js docs
2. Look at your taskbar and you will notice the popup's icon is a red square.

**Screenshots (recommended)**
https://prnt.sc/u4gmdb

**Versions:**
Windows 10
Ct.js v1.4.1 (Nightly, latest as of today)

[2020-08-23 17:09] naturecodevoid commented on #220
Might be an issue with nw.js

[2020-08-23 21:15] CosmoMyzrailGorynych commented on #225
Pixi's docs don't have an icon at all, and it is not ct.js' issue.

[2020-08-23 21:15] #225 closed

[2020-08-23 21:39] #224 closed

[2020-08-23 22:15] CosmoMyzrailGorynych commented on #220
The thing that some fonts work, others don't, and there is currently no visible pattern.
For example,
[this font](https://github.com/ct-js/ct-js/files/5115118/f4c144913-bfa8-45d0-bf64-a6430f55485e.zip) works.

There may be a bug in the current font-to-bitmap converter, as it is a fork of a 3rdparty package, heavily edited by me and I can't definitely say it is 100% bug-free.
There may be an issue

[2020-08-23 22:16] yonderbread opened #227 "Location Marker Objects"
**Is your feature request related to a problem?**
Somewhat, I find it a bit much to have to define constants for coordinates for every single location in a room you want to be able to set triggers on and collision detection. Also having to make invisible textured sprites instead is kind of a crap way to do this.

**Describe the solution you'd like**
My solution to this would be to add markers to c

[2020-08-23 22:22] CosmoMyzrailGorynych commented on #227
I plan to add triggers and waypoints at #39, with copies' additional fields at #40. But this will happen in a not-so-close future.

[2020-08-24 04:50] #222 closed

[2020-08-24 09:37] JulianWebb commented on #220
Do you know of any other fonts that work with ct.js? I'm testing a bunch of fonts but I've yet to find another that works.

[2020-08-24 11:00] JulianWebb commented on #220
If possible, could you run the attached fonts through [bmGlyph](https://www.bmglyph.com/) with the Sparrow configuration, @naturecodevoid? [I've heard](https://www.html5gamedevs.com/topic/30443-how-to-win-at-pixiextrasbitmaptext/?do=findComment&comment=174739) that produces the correct version of this bitmap font format and see what I can build off that. I'm not quite sure who designed this bitmap

[2020-08-24 22:32] yonderbread commented on #220
I really need a pixel font that will display well on a very small resolution (160x160)

[2020-08-25 04:24] #220 closed

[2020-08-26 22:25] CosmoMyzrailGorynych commented on #61
Closed in https://github.com/ct-js/ct-js/commit/18350ea5501d528c4c1fdec96716e2d7d1ba1e00

[2020-08-26 22:25] #61 closed

[2020-08-27 02:42] CosmoMyzrailGorynych commented on #40
This is done in v1.4.2, yet we still need it in the new room editor as well

[2020-08-27 02:43] #40 closed

[2020-08-28 04:43] CosmoMyzrailGorynych opened #230 "More failsafe methods"
**Describe the current state of the problem**
Some methods have optional arguments that significantly impact how they work. While coding, if these arguments get undefined though they were supposed to be not by a developer, it results in a confusing behavior.

Example:

* a game developer calls `ct.types.copy('Sausage', x, y, {}, this.uiRoom)`
* `this.uiRoom` is actually `undefined`
* `ct.types.cop

[2020-08-29 06:55] yonderbread commented on #230
This would definitely be helpful for making overlays.

[2020-08-29 21:43] yonderbread opened #231 "Can't set maxWidth property on PIXI.BitmapText declaration"
**Describe the bug**
Creating a PIXI.BitmapText object does not allow you to set the `maxWidth` property on instantiation. You have to set it once it has been created.

Example:
(Does not work)
[code]
Example:
(Does work)
[code]

**Screenshots (recommended)**
Attempting to set the maxWidth property when creating PIXI.BitmapText object fails to set it's property as shown here:
https://prnt.sc/u86m1

[2020-09-01 00:55] CosmoMyzrailGorynych opened #232 "ct.place.traceXXX for checking for collisions without a particular copy's shape"
**Is your feature request related to a problem?**
There is a need to check for collisions different from a copy's shape, e.g. for making larger triggers around a particular solid interactive object, or while executing collision checks from a room's script.

**Describe the solution you'd like**

1\. Adding new methods to ct.place:

* `ct.place.traceRect(rect, cgroup, getAll)` (and `ct.place.traceRe

[2020-09-01 05:28] alexis-anzieu-ssense opened #233 "Call external APIs while playing"
First of all, thanks for this awesome work!

**Is your feature request related to a problem?**
On a browser game, I would like to save my game online so I could replay it from whatever browser on whatever device

**Describe the solution you'd like**
Enabling AJAX or http library import to the IDE without the need to recompile the existing build

[2020-09-01 05:46] CosmoMyzrailGorynych commented on #233
Excuse me, but your issue doesn't give sense to me.

Do you mean a feature for players so that they can upload their savegames to the cloud?

If no, could you elaborate on why do you need to import modules/recompile builds/recompile the engine?

[2020-09-01 13:57] naturecodevoid commented on #233
There might be a way to use google for saving games to the cloud.

[2020-09-01 21:34] CosmoMyzrailGorynych commented on #233
Ok, I suppose that OP just wants to add an ajax library to the project. Their response to "Is your feature request related to a problem" was so gamedev-scoped that it derailed my train of thoughts into the void. Why an ajax lib is needed in [2020](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) is a good question but offtopic, so

You can add any library at Project tab -> C

[2020-09-05 22:46] yonderbread opened #234 "Backup Button"
It would be awesome to have a button on the Project menu for backing up your project to a zip automatically. I know there's the recovery save file, but this would make it simpler to back up things before we make possibly-destructive changes to our games. Also a bonus would be having the option to load a backup automatically from inside the IDE.

[2020-09-06 23:38] CosmoMyzrailGorynych commented on #234
@yonderbread Are you talking about this?

![изображение](https://user-images.githubusercontent.com/3174357/92337541-8d3a7780-f0fe-11ea-9313-7d598d9bcba3.png)

Please do use issue templates.

[2020-09-06 23:43] CosmoMyzrailGorynych commented on #223
Closed in v1.4.2

[2020-09-06 23:43] #223 closed

[2020-09-06 23:46] CosmoMyzrailGorynych commented on #233
@alexis-anzieu-ssense Please either confirm that your question is answered or provide additional info about your use case and feature request.

[2020-09-08 02:48] yonderbread commented on #234
Oh whoops sorry that did not pop out at me. And ok I will keep that in mind.

[2020-09-08 02:48] #234 closed

[2020-09-09 22:38] CosmoMyzrailGorynych commented on #168
Removed a portion of checklist items as they are already separate issues

[2020-09-12 10:35] AlexisAnzieu commented on #233
Oops yes it was not very clear sorry. So my question was more related to "is it possible to call an external API thanks to ajax or fetch native js" (to save game data somewhere else for instance). I was convinced that I aleady tried with custom script tab but ... it's working well now 🎉 . Thanks!

[2020-09-12 10:37] alexis-anzieu-ssense commented on #233
Oops yes it was not very clear sorry. So my question was more related to "is it possible to call an external API thanks to ajax or fetch native js" (to save game data somewhere else for instance). I was convinced that I aleady tried with custom script tab but ... it's working well now 🎉 . Thanks!

[2020-09-12 10:37] #233 closed

[2020-09-16 22:46] CosmoMyzrailGorynych opened #235 "Every ct.place method should work both with copies and tiles"
(Except for `ct.place.meet`, ofc.)

**Describe the current state of the problem**
Currently, each ct.place method works either with copies or tiles. There are `moveAlong` and `moveByAxes`, but inside their code are duplication of code to check against both tiles and copies.
New methods have to either check against one type of entity, or create two versions of them, or use both. In the latter two,

[2020-09-17 05:32] #232 closed

[2020-09-17 05:32] #117 closed

[2020-09-17 23:14] CosmoMyzrailGorynych commented on #71
`ct.res.fetchImage` is replaced by `ct.res.loadAtlas` and `ct.res.loadTexture` in https://github.com/ct-js/ct-js/commit/65b5eed0791eae1dd26b68faf1b345963a1e2c7c

[2020-09-17 23:14] #71 closed

[2020-09-22 22:16] #56 closed

[2020-09-23 05:24] CosmoMyzrailGorynych commented on #168
# Migration guide (WIP)

## Changes to copies' `rotation` property, or "My copies spin like propellers"

Previously `rotation` was proxying pixi.js' same-named parameter, which was measured in radians. It was made to preserve compatibility with older projects, those which were created before v1 emerged. We dropped this proxy to better conform to pixi.js' behavior and remove unexpected inconsistenc

[2020-09-27 23:36] CosmoMyzrailGorynych opened #237 "Investigate usefulness of pixi-layers"
**Describe the current state of the problem**
[`pixi-layers`](https://github.com/pixijs/pixi-display) may provide performance boosts (*may*), and will make ct.js compatible with some poopy effects like https://github.com/pixijs/pixi-lights

**Describe the solution you'd like**

* Add a branch that uses pixi-layers instead of manual scene sorting
* If it provides noticeable benefits, or at least do

[2020-09-28 05:37] CosmoMyzrailGorynych commented on #237
Oh no, it is needed for not poopy lighting, too: https://pixijs.io/examples/#/plugin-layers/lighting.js

[2020-09-28 18:18] yonderbread commented on #237
This would be good for UI too

[2020-09-28 21:18] CosmoMyzrailGorynych commented on #237
@yonderbread this has nothing to do with UI, and ct.js already has all the API to work with UI layers.

[2020-09-29 04:15] CosmoMyzrailGorynych opened #238 "Add an option to manually set ct.js' data directory. Without it, users with remote home folders will get errors."
**Describe the bug**
Ct.js exports game data and tries to create projects inside `~/ct.js` folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Work in an environment with folder redirection when a home directory is on a network drive.
2. Launch ct.js
3. Try creating a project (nothing happens)
4. Load an example project
5. Try exporting it
6. See the error `Error: ENOENT, no such file or

[2020-09-29 06:13] yonderbread commented on #238
looking forward to this being implemented

[2020-10-02 04:02] #238 closed

[2020-10-04 01:27] yonderbread commented on #215
So with this would be then be able to expand off of basic Ct.js events and make them get triggered under our own specified conditions?

[2020-10-13 04:28] StuckUpCreations opened #241 "Unable to ignore grid while placing type in room under XFCE"
**Describe the bug**
In the ct.js room editor, holding the Alt key down is needed to ignore the grid while placing a type, this is not possible in XFCE (and maybe others) as the Alt key has a use by default in this environment, in XFCE this can be worked around by disabling/changing the Alt key in the accessibility settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ct.js
2. Creat

[2020-10-29 03:03] #148 closed

[2020-10-29 03:14] CosmoMyzrailGorynych commented on #145
A font picker is already implemented

[2020-10-29 03:14] #145 closed

[2020-10-29 03:19] #192 closed

[2020-11-11 16:30] yonderbread opened #245 "Example Projects Tab Has No Examples"
**Describe the bug**
Ct.js Example projects do not show up in Linux.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Ct.js with the installer
2. Open Ct.js and go to the Examples tab

**Expected behavior**
A list of example projects should appear.

**Screenshots (recommended)**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent

[2020-11-11 17:45] yonderbread commented on #245
I feel like this issue should be added onto [the installer repo](https://github.com/ct-js/ct-js-installer).

[2020-11-28 08:11] Motaz3d opened #250 "web-comic for Ct.js"
The web-comic is become use for company and for people.
Can we do some thing such as: Panoply on unity.

it will support to become more easy use on Social media.

Do you have any idea how we can develop that?
I am welling to help, and support.

Best regard
Motaz

[2020-12-07 17:47] #250 closed

[2020-12-08 00:11] HLenin opened #252 "'Capture!' module doesn't work."
**Describe the bug**
It stops ('stops' not 'pauses') and lags my game. It shows an error saying: `t.updateTransform` is not a function. I also tried this on the builded version for windows too, it doesn't work. Also, the 'Capture' module doesn't have the 'warning' or 'issue' symbol on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Place this code in a type:
[code]
2. Put the type with t

[2020-12-08 01:02] CosmoMyzrailGorynych commented on #252
@HLenin Update to v1.5: https://github.com/ct-js/ct-js/releases/tag/v1.5.0

[2020-12-08 01:02] #252 closed

[2020-12-17 23:57] Tall-Lobster opened #255 "Removal of Telemetry by Google Services"
**Is your feature request related to a problem?**
It is really annoying when exporting a game into web mode that google analytics are automatically included.
Tag any related issues here.

**Describe the solution you'd like**
Allow the user to have the options of what telemetry features to include/not include

**Describe alternatives you've considered (optional)**
I was thinking of removing the cod

[2020-12-18 00:28] CosmoMyzrailGorynych commented on #255
@Tall-Lobster, ct.js does not include google analytics in exported games — it is at the very least illegal. Neither includes any tracking Pixi.js.

If you are sure that you've found tracking code in ct.js' exports, please identify where is the code that injects these analytic trackers.

If you deploy games on itch.io, GameJolt, or such, these platforms may inject google analytics by themselves. Tr

[2020-12-21 02:02] CosmoMyzrailGorynych commented on #75
# TODO

General:

* [ ] Asset browser
    * [ ] Minimal functionality
    * [ ] Multi-selection and bulk operations
    * [ ] Filtering
    * [ ] Search
* [ ] Tabbed interface
* [ ] Cross-reference opening API
* [ ] Editing cross-notifications for updating tabs' state when dependent assets were updated
* [ ] Saving project
* [ ] Loading project
* [ ] Older projects' conversion

Typings:

* [ ] typ

[2020-12-22 06:19] Tall-Lobster commented on #255
Dear @CosmoMyzrailGorynych;
thanks for the help. I will try deploying the game. However could you point me to some instructions to run the game, since when I open the index.html file, it doesn't run the game. Also I think the first time i saw the google analytics is when using the launch aspect of ct.js... but now I don't see it???

I had to run the game in Falkon Browser before I could see the ga

[2020-12-22 06:22] Tall-Lobster opened #256 "Instructions to Compiling Ct.js (ARM architecture)"
**Is your feature request related to a problem?**
I want to start using a raspberry pi for game development as well as software development, however I don't know how to build ct.js to build games to run on linux and to develop games on linux.
Tag any related issues here.

**Describe the solution you'd like**
Step by step instructions (with pictures if possible) to build ct.js, including the requir

[2020-12-22 17:26] Tall-Lobster commented on #255
There is something I realized after looking over ct.js.

You built ct.js using NW.js, which using parts of google chrome. In this case, from the knowledge I have acquired in the past few years, that means the application (without intention) will be using chromium aspects which those have been linked with Telemetry. So in this case, the games produced do not collect information unless you built an

[2020-12-22 19:32] CosmoMyzrailGorynych commented on #255
Don't mix up Google Chrome and Chromium. Chromium is an open-source browser without tracking, and nw.js and electron are based on it, not on Google Chrome.

[2020-12-22 19:33] #255 closed

[2020-12-23 00:57] CosmoMyzrailGorynych commented on #256
@Tall-Lobster if your Raspberry Pi runs on an ARM processor (AFAIK they do), then you will have a hard time preparing ct.js to run on it. Games made in ct.js will run without extra steps, though.

If you have a regular processor (not ARM), see [this paragraph](https://github.com/ct-js/ct-js#forking-and-installing-the-dev-environment) in the readme, plus "Running ct.js from sources" next to it. But

[2020-12-23 01:13] CosmoMyzrailGorynych commented on #255
Ct.js' web builds need a web server. Web build. Web server. Okay?
Ct.js runs a web server for you, and opening a game in an external browser from within ct.js (see the buttons at the bottom of the debugger) works.

If you doubt the ct.js' server, you can try any other static web server. For example, with ["here"](https://www.npmjs.com/package/@vivaxy/here).

[2020-12-23 03:15] CosmoMyzrailGorynych opened #258 "Memory leak with tandem emitters"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

0. Open any ct.js project.
1. Open the DevTools, switch to the Performance tab.
2. Start recording.
3. Create a new tandem. An editor will open.
4. Wait for 5 seconds or so.
5. Close the tandem editor so you can view the list of tandems.
6. Stop the recording.
7. Observe tha

[2020-12-23 04:54] Tall-Lobster commented on #256
OH my bad I forgot to let you know. I have already used this game editor (in reality you should have called it a game engine) to make my own unfinished game for a course. I really liked it so that is why I was wondering how you built it so I can figure out how to build it for the Raspberry Pi. Thanks for the instructions!

[2020-12-23 05:18] CosmoMyzrailGorynych commented on #256
@Tall-Lobster let me know how it goes. If it works for you, we will know that there is a way of distributing ct.js for ARM architectures.

[2020-12-24 01:01] CosmoMyzrailGorynych commented on #258
Partially fixed in https://github.com/ct-js/ct-js/commit/186ed18ff83c67e47cb6aec727280220a32637c8
The rest of the problem seems to be riot.js' problems. All the listeners, tickers, timeouts, and whatever are properly cleared atm.

[2020-12-24 01:01] #258 closed

[2020-12-26 15:52] ajilpappachan opened #259 "Undo Feature in Room Editor"
Hi. I can't seem to undo when I make a mistake inside the room editor. I feel like this is a very important feature to have. Also, the ability to copy-paste or duplicate selected elements inside the editor would be a huge lifesaver.

[2020-12-28 01:10] CosmoMyzrailGorynych commented on #259
Duplicate of #76

[2020-12-28 01:10] #259 closed

[2020-12-29 08:05] Tall-Lobster commented on #256
Dear @CosmoMyzrailGorynych

Sadly turns out the raspberry pi 4 is armv8 not armv7 so I cannot use this tutorial. I tried looking for anyone who built armv8 but no success. So in this case this will work on the old raspberry pi 3, but sadly I have the raspberry pi 4 that I wanted to use for development. That also means the games exported to run without a browser can't run on the raspberry pi 4.

[2020-12-30 07:02] greeneman42 commented on #50
Is this still a good first issue/wanted feature?

[2020-12-30 17:18] greeneman42 opened #260 "Ability to add multiple input methods at once"
**Is your feature request related to a problem?**
I think the workflow of adding input methods could be smoother by an ability to add multiple input methods at once instead of selecting and then re-opening the "Add an input method" dialog for each method.  For instance when adding methods for a specific axis, usually there are multiple for each direction.

**Describe the solution you'd like**
Mayb

[2020-12-30 21:50] mvxt opened #261 "ct.mouse.hovers is triggered permanently instead of per-frame"
**Describe the bug**
I have multiple copies and am trying to perform an action only for the specific copy the user clicks on. I do this check by using the following:

[code]

However, it looks like `ct.mouse.hovers(this)` returns true if your mouse has hovered over this copy _**at any point during the lifetime of the game.**_

**To Reproduce**
Steps to reproduce the behavior:
1. Create an action a

[2020-12-30 21:54] mvxt commented on #261
If this isn't a bug:

- What is the better/correct way to check per-copy click?
- Can we modify the documentation of `ct.mouse.hovers` to explicitly declare scope? E.g., "Returns `true` if the mouse hovers over a given `copy` _**at any point during the lifetime of the game**_."

[2020-12-31 05:44] greeneman42 commented on #261
I wasn't able to reproduce this.  I copied your example but it worked as expected.  I clicked the first object, then the one below it, then the first again.  It only logged one message each time.

![image](https://user-images.githubusercontent.com/24302976/103396384-95c51c80-4af8-11eb-968e-38811e0b6d91.png)

I'm on Windows 10

[2020-12-31 10:29] mvxt commented on #261
🤔 So, here's the weird part. I scraped together a new project and was also unable to recreate the issue. But I've combed over my whole working project multiple times now and just cannot figure out what is causing this.

I've included a ZIP file with my project here - maybe you'll spot something I missed??

[MusicMesh.ict.zip](https://github.com/ct-js/ct-js/files/5757025/MusicMesh.ict.zip)

[2020-12-31 19:38] greeneman42 commented on #261
I downloaded it and checked.  It's because your collision mask is 512x512 but your sprites are 128x128.  So they are overlapping each other causing you to click multiple at a time  :)

[2020-12-31 21:20] mvxt commented on #261
🤦  Thank you for finding that. I don't know when that was changed or how it got that way but thank you! I'll close the issue.

[2020-12-31 21:20] #261 closed

[2021-01-01 21:08] oaklandgit opened #263 "After running game, application must be force quit"
**Describe the bug**
The app is unable to quit using File > Quit or Cmd-Q. Instead it must be forced quit.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the ctjs app
2. Load any project
![image](https://user-images.githubusercontent.com/421615/103446195-b5139500-4c31-11eb-9c77-c4cba6cca1a9.png)
3. Launch the project
![image](https://user-images.githubusercontent.com/421615/103446202

[2021-01-02 00:02] CosmoMyzrailGorynych commented on #263
@oaklandgit update to v1.5.1 and try to reproduce it again.

[2021-01-02 17:17] oaklandgit commented on #263
Thank you @CosmoMyzrailGorynych . That seemed to have done the trick!

[2021-01-02 17:17] #263 closed

[2021-01-10 16:25] vivek80801 opened #265 "Transtion in hindi"
Can I translate documentation in **Hindi** ?

[2021-01-10 21:41] CosmoMyzrailGorynych commented on #265
@vivek80801, yup, you can. See [ct-js/docs.ctjs.rocks](https://github.com/ct-js/docs.ctjs.rocks) repo and how "ru" locale has been added.

[2021-01-10 23:53] #260 closed

[2021-01-12 05:43] vivek80801 commented on #265
@CosmoMyzrailGorynych Thanks for giving an opportunity.

[2021-01-12 05:51] #265 closed

[2021-01-17 23:45] rcbilder opened #266 "Typo </kerings> -> </kernings>"
**Describe the bug**
Noticed a problem with bitmap fonts in 1.5.1 when running in firefox or exporting to the web with a bitmap font.   Will get

XML Parsing Error: mismatched tag. Expected: </kernings>.

and the font is not fully loaded. Looking at the code seems just a typo in fonts.js where the closing tag needs to be </kernings> instead of </kerings>.

**To Reproduce**
Steps to reproduce the b

[2021-01-18 00:09] #266 closed

[2021-02-08 15:43] HoverBaum opened #268 "MacOS build missing examples"
**Describe the bug**

The MacOS bundle does not contain an examples folder.

**To Reproduce**

1. Download the macOS version from itch.io at https://comigo.itch.io/ct
2. Check for an examples folder 🗂
3. No such folder exists 😔

Also: No examples are shown when opening the application.

**Expected behavior**

Examples folder with assets for Tutorials should be present.

[2021-02-09 00:45] CosmoMyzrailGorynych commented on #52
Updated title and added details about the progress and future work.

[2021-02-09 00:49] #237 closed

[2021-02-09 01:01] CosmoMyzrailGorynych opened #269 "More inputs in copies' properties and type editor"
**Is your feature request related to a problem?**
More settings to tweak copies' look and behavior mean less fiddling with code and a more visual workflow, which is good. Each item in the list below solves one of the tiny problems.

**Describe the solution you'd like**

Copies' properties when you select them in the room editor:

- [x] Adding custom, user-defined properties to individual copies. T

[2021-02-09 04:05] CosmoMyzrailGorynych opened #270 "ct.light: Lighting system"
**Is your feature request related to a problem?**
No way to create a lighting system in ct.js :D

**Describe the solution you'd like**

Lighting system, similar to this: https://pixijs.io/examples/#/plugin-layers/lighting.js. The whole system can be a ct.js module. My idea does not include the pixi-layers plugin:

* Create a PIXI.RenderTexture (https://pixijs.download/release/docs/PIXI.RenderTextu

[2021-02-09 14:57] HoverBaum commented on #203
Curious about this: why go with inheritance?

What is so bad about composition?

JavaScript as a language is much more tuned towards composition. Being a prototypical instead of an object-oriented language all "class features" in JS are basically syntactical sugar to make it easier for Java (and similar) developers to adopt the language and bring their OOP principles.
My brief dive into Game devel

[2021-02-10 06:32] CosmoMyzrailGorynych commented on #203
Nothing. And inheritance doesn't exclude composition :D

Below goes my flow of thoughts, so better read it sequentially to the end to make sense of it.

So, @HoverBaum, a couple of things to consider:

1. Game developers won't give a quack about what happens in ct.js under the hood.
2. What matters is maintainability from ct.js developers and usability for game developers.

And under usability, I

[2021-02-13 18:36] HoverBaum commented on #203
Great viewpoints. Didn't really think about it from the ct.js maintainers' point of view. Thanks for the long reply!
I might have been triggered to defend composition over inheritance here.

If this is more about some basic things for ct.js to provide for userspace it can be a very valid solution.

And I love the baseline points you laid out!

Maybe one more thing for usability:

- Make it hard to

[2021-02-14 23:14] CosmoMyzrailGorynych commented on #203
Indeed, it sounded a bit fanatical :wink: :smile:

By a base type I mean any [DisplayObject of PIXI](https://pixijs.download/dev/docs/PIXI.DisplayObject.html) extended with ct.js' Copy logic. See "Display objects implemented in PixiJS". I don't think you would need other base types :D And if you do, they can be made as modules, with their own type definitions. The only thing is that Copy's logic s

[2021-02-15 21:08] HoverBaum commented on #203
😅 Thanks for the feedback.

Great insights again! Thanks for taking the time even though I still lack insights into the project.

---

Additional base classes can wait if done the correct way.

I would generally be up to do some contributions. Unsure about how much time I can dedicate though, so best for it to be non-critical or non-urgent things.

So, there would be a new tab next to "Types" and

[2021-02-16 06:02] CosmoMyzrailGorynych commented on #203
That's the problem with modules: they have poor (almost non-existent) tools for user-provided code.

So I made a brought sketch... I'm thinking of a separate asset editor for behaviors that mostly copies room and type code editors' layout (four tabs) plus allows adding customizable fields. The latter work in the same way as modules' extends: for example, ct.place adds collision group fields, and t

[2021-03-03 15:50] naturecodevoid commented on #268
I believe it does exist, but it’s hidden in the .app

[2021-04-09 23:40] oaklandgit opened #276 "Black bar covering UI in Texture tab"
**Describe the bug**
A black bar covers the UI in Texture tab. It can often be fixed by resizing the window, but not always.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Textures tab
2. Resize window
3. Black bar appears, obscuring content

**Expected behavior**
No black bar

**System information report**
Ct.js v1.6.2 😽 (packaged)

NW.JS v0.51.2
Chromium v88.0.4324.182
Node.js v15.8

[2021-04-09 23:53] oaklandgit opened #277 "Duplicate or "fork" project from Home screen"
**Is your feature request related to a problem?**
I want to be able to, with one click, "branch" a project so I can safely experiment, while keeping my original intact.

**Describe the solution you'd like**
It would be nice to be able to simply click "duplicate" from a project preview on the home page, somewhat how repl.it or github work. The metaphor of "duplicate" or "fork" is appropriate for a

[2021-04-10 01:21] CosmoMyzrailGorynych commented on #276
So it happens exclusively on the Textures tab?? Not in the room editor, and neither in the particle system editor?? This is weird.
All in all, it is either a driver- and hardware-specific bug or chromium's issue, and not ct.js' code, so I'm at little power here. Searching through nw.js' issues and the web didn't help, either.

Have you ever met such issues in other browsers, especially Chrome/Chro

[2021-04-10 01:29] CosmoMyzrailGorynych commented on #277
A good idea! Especially for example projects. I think "clone" is a more general and suitable verb here.

[2021-04-10 02:16] oaklandgit commented on #277
Sure, "Clone" works. Thanks!

[2021-04-10 02:45] oaklandgit opened #278 "ct.u.map function missing from utilities"
**Describe the bug**

Calling ct.u.map triggers an error:

`Uncaught TypeError: ct.u.map is not a function`

console.log(ct.u) shows it is not included in the u object:

[code]

Documentation:

[code]

[2021-04-10 02:47] oaklandgit commented on #276
I see it actually happens on other tabs as well. I haven't seen this issue before, and I use Chrome daily.

[2021-04-10 02:55] CosmoMyzrailGorynych commented on #278
Ah, right. That's because ct.u.map is not yet released :D
@qewer33 make sure not to send PRs to the `master` branch next time

[2021-04-10 08:35] #277 closed

[2021-04-10 08:35] #278 closed

[2021-04-10 08:35] #270 closed

[2021-04-11 20:57] oaklandgit opened #279 "Wrapper function for onCreate appearing unexpectedly in room's On Create IDE"
**Describe the bug**
See this screenshot. Notice how the onCreate function is appearing in the IDE. Also notice the repeated line number 1.
The problem fixed itself after restarting ctjs.

<img width="544" alt="Screen Shot 2021-04-11 at 1 52 36 PM" src="https://user-images.githubusercontent.com/421615/114320975-79f4ed80-9acd-11eb-9d30-d70944fc99da.png">

**To Reproduce**
Unfortunately, I'm not sur

[2021-04-11 21:13] oaklandgit commented on #279
Can happen with any tab. (e.g. On Draw).

[2021-04-11 23:05] CosmoMyzrailGorynych commented on #279
This is the result of my workarounds for monaco's issue https://github.com/microsoft/monaco-editor/issues/45

Can be fixed by closing and reopening type editor / room events editor.

One of the ways to get a variation of this bug:

1. Open a code editor of a type or a room
2. Write anything on the first line
3. Alt+Up arrow
4. The line disappears
5. Reopen the asset editor
6. You can now see a wra

[2021-04-12 03:12] oaklandgit opened #280 "Ability to edit custom parameters of a copy from within the room editor."
**Is your feature request related to a problem?**
When creating a Type, you often need variants for any particular instances (Copies) of that type. It's clear how to pass parameters to Copies in code (as in the below example from the documentation)…
[code]
…but that doesn't take full advantage of having a Level Editor, in which you would define such parameters while placing game objects into the l

[2021-04-12 03:21] oaklandgit commented on #280
And sorry, just seeing that this is likely a dupe of https://github.com/ct-js/ct-js/issues/269

[2021-04-12 03:21] #280 closed

[2021-04-12 03:23] oaklandgit commented on #269
Some additional thoughts in #280

[2021-04-12 03:41] CosmoMyzrailGorynych commented on #280
@oaklandgit this feature was added in v1.7; you can right-click a copy and click "Custom properties". There you can set strings, boolean values, numbers, and arrays.

[2021-04-12 03:49] CosmoMyzrailGorynych commented on #280
That's more about another idea I have in my head — having a UI to describe user-defined properties shown in other UI views. I don't remember in particular where I described it... But it better uses #203 class inheritance as its basis. Custom predefined fields are useful for rooms, type subclasses, and copies.

[2021-04-12 11:38] oaklandgit commented on #280
Yup! Found it after I saw the related suggestion. I might submit an addition to the documentation repo.

[2021-06-07 10:37] markmehere commented on #268
This should be fixed by #286

[2021-06-07 21:51] CosmoMyzrailGorynych commented on #268
@markmehere Can you confirm this? App is packaged by calling `gulp packages`.

[2021-06-08 00:25] markmehere commented on #276
Anyone looking at this also check out #286 - there's a black box issue there that was fixed by bumping nwVersion as explained in the pull request: bugs with the graphics acceleration are common in Chromium - even making it to Chrome proper from time-to-time. To see whether graphics acceleration is the root cause you can disable GPU. I think by adding `argv: '--disable-gpu'` to line 329 of `gulpfil

[2021-06-08 00:28] markmehere commented on #268
I'm pretty sure. We will know for sure in 1.7.1. Happy to run a nightly build little hesitant to run `gulp packages` because of the issue I specified in the pull request. Setting back up my Finder is a bit of a hassle. 🤕

[2021-06-08 00:30] markmehere commented on #276
I mean the screenshots of the two issues look really really similar. 😄

[2021-06-08 00:32] markmehere commented on #276
Oh wait @oaklandgit was on Mac OS X too. Then #286 is more likely than not the fix.

[2021-06-14 01:45] markmehere commented on #268
I didn't realise there were nightly builds available here:

https://comigo.itch.io/ct-nightly

By my running of them the problem is solved but have a look yourself @HoverBaum - devs are always pretty bad at testing their own fixes.

[2021-06-14 01:45] markmehere commented on #276
I didn't realise there were nightly builds available here:

https://comigo.itch.io/ct-nightly

By my running of them the problem is solved but have a look yourself @HoverBaum - devs are always pretty bad at testing their own fixes.

[2021-06-14 01:46] markmehere commented on #276
I didn't realise there were nightly builds available here:

https://comigo.itch.io/ct-nightly

By my running of them the problem is solved but have a look yourself @oaklandgit - devs are always pretty bad at testing their own fixes. The issue I saw was in the fonts (see my pull request).

[2021-06-24 21:59] yonderbread commented on #45
Honestly I don't think it's necessary to incorporate backups into Ct.js, this should be up to the user to set up with an external program. It's best if each program a user has does 1 task instead of many, at least according to the [Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well).

[2021-06-29 09:38] BuslikDrev commented on #199
v1.7 у меня при экспорте просто закрывается программа.

[2021-07-09 15:14] limitlis opened #292 "MacOS - Black bar in texture editor making editing difficult"
**Describe the bug**
On MacOS v.1.7.0 there is a black bar that spans the entire width of the editor while you are in the Textures editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Textures tab/view.
2. Generate a placeholder or edit an existing texture.
3. Resize window bigger and/or smaller.
4. See bar appear in larger editor windows. It goes away if I make the screen small

I

[2021-07-09 15:38] limitlis opened #293 "MacOS - Invisible buttons over top nav bar"
**Describe the bug**
After a while when there appears to be some invisible obstruction over top of the main nav bar. Upon trying to inspect the invisible element it appears to be hidden inputs for screenshot and something else (import maybe? It opens up a file select modal looking for .icts).

**To Reproduce**
I don't really have repro steps yet. But at some point during normal usage those buttons

[2021-07-10 03:02] CosmoMyzrailGorynych commented on #293
Will be fixed in the next release, thanks

[2021-07-10 03:03] #293 closed

[2021-07-10 03:05] CosmoMyzrailGorynych commented on #292
Duplicate of #276

[2021-07-10 03:05] #292 closed

[2021-07-10 06:15] limitlis commented on #292
ah, sorry about that!

[2021-07-10 07:19] CosmoMyzrailGorynych commented on #45
Ct.js is anything but Unix philosophy. And when you do lose a project, you will need this feature, because you won't have a thought about backing up these important files. Shortly, real-life and real deeds against logic.

The backup function surely needs a toggle, because it will conflict with the stuff you may use when you do set up external backups. (E.g. git, dropbox.)

[2021-07-10 07:27] CosmoMyzrailGorynych commented on #199
@BuslikDrev, в таком виде эта информация абсолютно для меня бесполезна. У меня в версии 1.7 оба вида экспорта работают.

Вылеты на винде бывают обычно из-за двух вещей: из-за антивирусов или недостатка памяти (обычно котэ требуется 2 гига для комфортной работы сверх уже используемой системой).

[2021-07-11 07:50] BuslikDrev commented on #199
У меня win7 64x, 4 Gb оперативной памяти. Я попробую переустановить VisualC++ может из-за него конфликты какие-нибудь.

[2021-07-15 07:24] yonderbread commented on #45
Maybe integrating a simple git repo management interface/panel would be beneficial. A lot of users coming to Ct.js are new to programming and it would be awesome if it could introduce them to the world of version control systems.

[2021-08-13 22:41] Tiger-The-Cat opened #298 "Duplicating Type Menu Bug"
When one tries to duplicate a type, they get this menu.
![image](https://user-images.githubusercontent.com/70044734/129424541-b7734e0e-2cae-418e-b4b5-b4442e75f56a.png)
For some reason, the "Okay\Duplicate\Copy" button says "Delete" instead.
Thanks!

[2021-08-14 18:26] Tiger-The-Cat opened #299 "Camera is null?"
Everything seems to be fine with my game, but I keep getting this console error:
![image](https://user-images.githubusercontent.com/70044734/129456815-a290307a-b825-494d-8783-854c2161de8c.png)
ct.js system code:
![image](https://user-images.githubusercontent.com/70044734/129456820-0f4c1ffc-35f4-49b3-827a-25b1c2729263.png)
it seems that the ct.camera is null.
Thanks!

[2021-09-26 13:49] SaberTooth-Studios commented on #299
I've had that happen to me if I set the main room as a ui room, instead of having a ui room append non-ui into the stage, have the non-ui append the ui

[2021-09-26 13:49] SaberTooth-Studios commented on #298
lol

[2021-10-31 01:42] SaberTooth-Studios commented on #299
NOTE BEFORE READING: I'm not very smart so this might be wrong

Where are you running you're ct.js game? If you open the index.html file locally into your web browser lots of things (including ct.camera) just don't work. If you're running a ct.js preview from the ct.js app then ct.camera shouldn't be null, if you're running the index.html file hosted on a website/webserver ct.camera shouldn't be n

[2021-11-04 23:44] terjegran commented on #299
I've run into this issue as well. I encounter this issue when a resize occurs while the content is being loaded. That means that the ct-elements are not ready yet. I've made a temporary fix to the issue by editing the "fittoscreen" catmod to skip scaling while loading. I add the following code at the start of the resize function:

`if (PIXI.Loader.shared.loading) return;`

There might be better so

[2021-11-07 04:19] QuickBanjo opened #302 ""All unsaved changes will be lost" does not appear when closing"
### Describe the bug
When taking various actions in the IDE that would discard outstanding changes, such as opening another project, a confirmation modal appears, saying something along the lines of "All unsaved changes will be lost". The modal would have options to continue the action or cancel.

When closing the IDE via the OS, this modal does **NOT** appear.

### To Reproduce
On version 1.7.0,

[2021-11-07 17:26] QuickBanjo opened #305 "Configuration Templates and Variables (nw.js, pixi.js versions)"
An issue I noticed while doing the work behind #303 and #304: we don't always have a unified way of specifying certain values that are common throughout the whole project.

In my case, I found the NW.js version was specified in `gulpfile.js`, but I needed to use it in `launch.json`. I ended up just manually updating the latter to match the former, since neither of these files appear to have any wa

[2021-11-08 08:18] QuickBanjo opened #306 "Button to discard pending changes"
### Description
As a user, I want to be able to cancel changes I've made to an asset if I have not yet clicked the `Apply` or `Done` button, because I want to be able to aggregate related unsaved changes on open assets, **AND** I want these changes not to be saved with the rest of the project until I'm certain I want them saved.

- [x] Update button labels
- [ ] Change the in-memory editing behavi

[2021-11-13 03:17] SaberTooth-Studios commented on #67
I would love to help make trigger zones, but I don't exactly understand what you mean by a "trigger zone", would it be an invisible-to-the-player object that can be dragged into the room and when in view or in a specific range from the view would trigger a function set by the user? or would it be an invisible-to-the-player object that triggers a function when a specified object touches it?

[2021-11-26 14:01] CosmoMyzrailGorynych commented on #67
Yes.

[2021-11-26 14:49] CosmoMyzrailGorynych commented on #305
`devSetup.gulpfile.js` is the closest thing that comes to mind. It is intended to be executed after every checkout.

[2021-11-28 19:17] QuickBanjo commented on #305
The main issue I'd see with using gulp in this case is that we're actually updating `gulpfile.js`, and it's actually that file that we'd probably want to put it, so anyone who updates the version somewhere sees it everywhere else. But I guess we could work around that by making the gulpfile the canonical version, then having the script copy it to `launch.json`. The issue then becomes that we may n

[2021-12-12 02:15] CosmoMyzrailGorynych commented on #305
The nw.js version may be written in a separate JSON file, which can later be required by anything. And `launch.json` has to be updated by gulp or some kind of automation.

[2021-12-12 04:11] CosmoMyzrailGorynych commented on #298
Can't reproduce or find the source of the issue 🤔
The "Delete" label can be a non-reset property from another modal, but other delete dialogues do reset them after deleting an asset.
If you find the steps to reproduce the bug, write them here.

[2021-12-12 04:11] #298 closed

[2021-12-12 04:26] CosmoMyzrailGorynych commented on #299
Closed in https://github.com/ct-js/ct-js/commit/b0ee8ce59c4d66345854f65eb113e6ea89db02e8

[2021-12-12 04:26] #299 closed

[2021-12-12 07:49] CosmoMyzrailGorynych commented on #302
Closed in https://github.com/ct-js/ct-js/commit/5f2c4a435ef3fc58a57b69664aff90c5d192201c.
Also fixes the situation where ct.js asks for your confirmation to close even if you've just opened a project.

[2021-12-12 07:49] #302 closed

[2021-12-22 06:44] #276 closed

[2021-12-22 07:15] CosmoMyzrailGorynych commented on #230
Closed with https://github.com/ct-js/ct-js/commit/dbad7e3ef6486b7e883be3a3b1a31159e9ff1ac3 and https://github.com/ct-js/ct-js/commit/58e6fad9b48836ce21b2d5a298a262a2ceadef9d

[2021-12-22 07:15] #230 closed

[2021-12-23 08:02] CosmoMyzrailGorynych opened #314 "`ct.mouse` and `ct.touch` should be replaced by one `ct.pointer` module, that listens for both touch and mouse events by using DOM's pointers API."
- [x] Base functionality similar to `ct.touch`
- [x] Pointer Lock API
- [x] Typings
- [ ] Docs

[2021-12-23 08:06] CosmoMyzrailGorynych opened #315 "Rename weird and dumb names that are leftovers from a more limited past knowledge of English"
- [ ] ~exts -> extensions~ Ok, these can stay for the sake of brevity.
- [x] injects -> injections
- [x] types -> templates

[2021-12-23 12:46] CosmoMyzrailGorynych commented on #315
Closed by https://github.com/ct-js/ct-js/commit/88b0c5b9e09e15aa17a800f1811f69f63fa18596 and https://github.com/ct-js/ct-js/commit/bf721cdb6f87ca667dc8c9140440eaba5fa7098c

[2021-12-23 12:46] #315 closed

[2021-12-25 06:06] CosmoMyzrailGorynych opened #316 "Make a universal asset picker"

[2021-12-26 09:52] CosmoMyzrailGorynych opened #317 "Add a component + CSS classes gallery"
- [x] CSS classes gallery
- [ ] Riot.js tag library
  - Storybook.js failed to install fully, as well to launch :/
  - Writing our own storybook-like viewer will need a doc parser or such to allow playing with controls. And it is better to use a doc parser to remove chances for outdated tags' docs, as well as reduce manual labor. Besides that, the tags should pull their data from somewhere.

[2021-12-26 09:53] CosmoMyzrailGorynych opened #318 "Update to newer version of pixi.js"
~~Blocked by https://github.com/microsoft/monaco-editor/issues/2850~~

Unblocked by making a custom bundler that merges ct.js and pixi.js into one unified... typescript... dump. Among other things.

* [x] `pixi-particles` might not support pixi.js v7. It also got renamed at v5 and its configuration format although analogous, is still different.
    * ~~Kinda possible but needs much more work. Two-

[2021-12-26 13:08] CosmoMyzrailGorynych commented on #318
Current work is at https://github.com/ct-js/ct-js/tree/pixi-v6-typings-integration
The problem is that I can't import both libs' typings (ct.js and pixi.js) so that they both work, for some reason or another. They may be rolled up, probably, together, as one file, but currently importing one library inside another doesn't work.

[2021-12-26 13:08] CosmoMyzrailGorynych commented on #314
The WIP is at https://github.com/ct-js/ct-js/tree/issue-314-ct-pointer

[2021-12-26 13:09] CosmoMyzrailGorynych commented on #316
Most work is done, what's left is the replacement of older inputs in asset editors.
https://github.com/ct-js/ct-js/tree/issue-316-asset-inputs

[2021-12-26 13:14] CosmoMyzrailGorynych commented on #168
Migration guide, as well as doc updates, are now made in a v2.0.0 branch of docs.ctjs.rocks: https://github.com/ct-js/docs.ctjs.rocks/tree/v2.0.0

[2021-12-30 19:33] CosmoMyzrailGorynych commented on #316
TODO: API additions for font selectors

[2022-01-01 09:37] #316 closed

[2022-01-02 16:16] CosmoMyzrailGorynych opened #319 "ct.stain / ct.canvas for permanent decals and drawable surfaces"
**Is your feature request related to a problem?**
Making drawable surfaces in rooms of restricted size is easy, but not-so-easy in boundless ct.js rooms.
There should be a module that allows drawing on textures that tile the world depending on where decals are positioned.

Use cases:

* Regular decals like blood, goop, explosions, debris, etc.
* Drawing apps.

**Describe the solution you'd like**

[2022-01-03 18:58] #314 closed

[2022-01-05 19:56] CosmoMyzrailGorynych commented on #235
Closed in d88492a40afddc756998f1a236bd6585e18db6eb

[2022-01-05 19:56] #235 closed

[2022-01-05 19:56] #168 closed

[2022-01-06 10:01] Jakubiakol opened #320 "Loading screen"

[2022-01-06 11:09] #320 closed

[2022-01-06 20:39] CosmoMyzrailGorynych commented on #318
Had to update to v5.3.11, for now. Changing milestones and project listing for this issue.

[2022-01-06 20:42] CosmoMyzrailGorynych opened #321 "Built-in importable resource packs"

[2022-01-07 07:35] #305 closed

[2022-01-28 04:22] CosmoMyzrailGorynych commented on #306
I still don't know how to incorporate it into UI nicely. Maybe someone will come up with nice mockups. Otherwise, it will be postponed to the times where there will be a tabbed, multi-asset interface.

[2022-02-12 09:00] #66 closed

[2022-02-22 15:37] #321 closed

[2022-03-27 04:54] CosmoMyzrailGorynych opened #331 "Catnip: Visual scripting language (with linear grammar)"
**Is your feature request related to a problem?**

The aim of this issue is mainly to make the upcoming addition transparent for everyone.

From what I've seen while working with children and presenting different engines to them, the biggest issue for them was not a language barrier, not the complexity of coding concepts, but the goddamn syntax. They don't format code, they skip brackets, and thes

[2022-03-28 18:13] blurymind commented on #331
looks cool! I would personally prefer if conditions were in their own left side column -similar to construct and gdevelop.

That makes logic surprisingly easier to read vs having both conditions and actions in a single column. It also reduces scrolling

[2022-04-02 18:53] Shadowblitz16 opened #332 "Particles viewer isn't working for one of my textures"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open project
2. Go to Particle tab
3. Click on `Un grouped`
4. Click on player-thrust
5. See that the particle is not visible

**Expected behavior**
The particle should be visible

**System information report**
Ct.js v2.0.1 😽 (packaged)

NW.JS v0.59.0
Chromium v96.0.4664.5

[2022-04-02 18:57] Shadowblitz16 opened #333 "FX tab: can't group fx's"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `fx` tab
2. Click on Show ungrouped
3. Drag player-thrust to player group
4. See nothing happens

**Expected behavior**
The particle fx should be moved into the group

**System information report**
Ct.js v2.0.1 😽 (packaged)

NW.JS v0.59.0
Chromium v96.0.4664.55
Node.

[2022-04-02 19:56] Shadowblitz16 commented on #332
So actually used row and columns the right way fixes this issue.
I thought row and columns were the rows and columns in the image, turns out they are the rows and columns in the animation.
Maybe clamping rows and columns from 1 to the max rows/columns that fit in the image would be good.

[2022-04-02 19:56] #332 closed

[2022-04-10 02:26] MorenoIgor opened #334 "Copy's direction reverts to 0 after speed change"
I'm not sure if this is a bug or some intended behavior, but it is game-breaking.

**Describe the bug**
Whenever a copy's speed is changed via this.speed, its direction property is reverted to 0 after the speed change. If direction is not changed manually once again, it keeps the value 0.

**To Reproduce**
- Set a copy's direction property to any value;
- Change its speed via this.speed;
- Check t

[2022-04-10 04:36] #333 closed

[2022-04-10 04:38] CosmoMyzrailGorynych commented on #333
Fixed.
Can be applied for older projects in Nightly versions (that are still counted as v2.0.1) with `applyMigrationCode('2.0.2');` command in the console.
Works as is in newer projects.

[2022-04-10 05:13] CosmoMyzrailGorynych commented on #334
Nope, it happens only if you change speed from 0 to something else. It doesn't happen if your copy was already moving.
In any case, I've prepared a fix for this issue.

For now, you can use the Nightly version, or change speed first and direction after that.

[2022-04-10 05:13] #334 closed

[2022-05-05 10:12] bongibault-romain opened #337 "this.inherit is undefined when using Template Inheritance module"
**Describe the bug**

When I use the Template Inheritance module an error appears when I want to use the `this.inherit.onCreate()` or `this.inherit.onStep()` methods. The "inherit" property is not defined.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Enable "Template Inheritance" module
3. Create a new type named "Parent"
4. Create a new type named "Child"
5. Make

[2022-05-14 04:45] #337 closed

[2022-05-22 10:31] Infinity48Games opened #339 "Desktop builds give a 'Your game won't work like this' message, then works anyway."
**Describe the bug**
The error message you get when trying to run HTML5 locally shows up even on native desktop builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Export for desktop.
2. Open the build.

**Expected behavior**
The error to not appear.

**System information report**
Ct.js v2.0.2 😽 (packaged)

NW.JS v0.59.0
Chromium v96.0.4664.55
Node.js v17.1.0
Pixi.js v5.3.11

WebGL avail

[2022-06-21 11:42] khederalraai opened #342 "test"

[2022-06-21 13:45] CosmoMyzrailGorynych commented on #342
why

[2022-06-21 13:45] #342 closed

[2022-06-27 23:27] CosmoMyzrailGorynych opened #343 "Stuff to do for v3"
- [x] #215
  - [x] Add events to the Matter.js lib
  - [x] Review catmods list to see which can benefit from having custom events
    - [ ] ct.desktop
    - [ ] ct.nakama?
    - [ ] ct.yarn!
  - [x] Update demos and examples
  - [x] Update tutorials ;-; All hail @firecakes!
- [x] ~~#346~~ Postponed till v4 release
- [x] #39 and #76
- [x] Apparently, particle library got lost during the making of t

[2022-06-30 08:29] CosmoMyzrailGorynych commented on #215
Almost done 👏 Just some UI polish and we will be able to work on tutorials' rewrite.

[2022-07-01 07:07] CosmoMyzrailGorynych opened #345 "Elaborate the ct.js license"
**Describe the current state of the problem**
The license panel could really have additional text explaining usual use cases on game distribution, author rights, and such. MIT license's text might be short but not clear for inexperienced users of digital goods.

**Describe the solution you'd like**
Non-legal text above the license text explaining how a user can use ct.js and what they can do with

[2022-07-01 08:13] #215 closed

[2022-07-01 08:16] CosmoMyzrailGorynych opened #346 "Add PIXI.sound as the built-in sound library"
- [x] Make sure there is a public API in ct.res to load sounds during game's runtime
- [x] Add docs for its usage in ct.js
- [x] Update docs
- [x] Add support for built-in gallery
- [x] Utilize pitch (https://pixijs.io/sound/docs/PlayOptions.html has `speed` option, which is basically `playbackRate`)
- [x] ~~Add Sound ques asset type (a la UE4/UE5)~~ Sound ques will be the base sound type, meaning

[2022-07-10 23:53] Emalton opened #349 "Windows MSI Installer"
It would be great if there was a Windows MSI Installer file included in the releases. It can likely be created with a GitHub action too.

[2022-07-14 18:24] cat-master21 opened #350 "fix: bundle libatomic (libatomic.so.1) in linux build"
**Describe the bug**
When running binary of ctjs from the website if a user does not have libatomic.so.1 shared library then ctjs fails to render.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/ct-js/ct-js/releases/download/v2.0.2/ct.js.v2.0.2.for.linux64.zip to download linux64 binary build
2. extract zip file.
3. Make sure you do not have *libatomic.so.1* ([Ubuntu

[2022-07-15 03:44] CosmoMyzrailGorynych commented on #339
This was fixed in the `develop` branch. You can use Nightly releases for now, or await a new public release.

[2022-07-15 03:44] #339 closed

[2022-07-24 22:54] mohagali opened #353 "when the asset name is long the cards"
**Describe the bug**
When the asset  name is long the cards nested to each other

**To Reproduce**
Steps to reproduce the behavior:
1.open texture
2.load some asset with short, medium and long name

**System information report**
Ct.js v2.0.2 😽 (packaged)

NW.JS v0.59.0
Chromium v96.0.4664.55
Node.js v17.1.0
Pixi.js v5.3.11

WebGL available
WebGL vendor Google Inc. (AMD)
WebGL renderer ANGLE (AMD,

[2022-07-30 04:55] CosmoMyzrailGorynych opened #355 "CI/CD uses old version of nw-builder"
Currently CI/CD pipeline uses a 3-year-old nw-builder. New versions require Wine installed into system to change icons and such, which require using a docker image different from docker's `node` container.

Also see #349. Might as well make an image for NSIS, too.

[2022-07-30 05:06] CosmoMyzrailGorynych commented on #349
Might use https://wiki.gnome.org/msitools

[2022-07-30 05:10] CosmoMyzrailGorynych commented on #349
Also https://www.conjur.org/blog/building-a-windows-installer-from-a-linux-ci-pipeline/

[2022-08-03 06:46] CosmoMyzrailGorynych commented on #245
Closed by https://github.com/ct-js/ct-js/pull/357

[2022-08-03 06:46] #245 closed

[2022-08-03 06:47] #268 closed

[2022-08-06 01:19] leedigital commented on #350
This is not a nwjs or ct.js problem. It is a nodejs dependency, and in that case the simplest solution is to install the dependency, on systems like ubuntu just do **sudo apt-get install libatomic1**.

[2022-08-07 08:10] CosmoMyzrailGorynych commented on #350
@leedigital ct.js ideally should not require node.js to be pre-installed.
---
Also, as a side note, Fedora comes with node.js preinstalled, and I never needed to install anything specifically on it to work on ct.js

[2022-08-07 14:29] leedigital commented on #350
@CosmoMyzrailGorynych,

so, the problem is that nw.js is based on nodejs... As this lib is a nodejs dependency, it ends up being a nw.js dependency too. In ubuntu, just do **sudo apt-get install libatomic1** and the problem is solved. It is not a bug of ct.js or nw.js, is a dependency on nodejs.

[2022-08-07 14:42] cat-master21 commented on #350
Okay so I think this can be closed then. Just make sure to install libatomic library first.

[2022-08-07 14:43] #350 closed

[2022-08-17 12:29] CosmoMyzrailGorynych commented on #76
Working on as part of #39

[2022-08-17 12:34] CosmoMyzrailGorynych commented on #76
# TODO

- [x] Create copies
- [x] Create tiles
- [x] Delete copies (eraser mode in copies tool)
- [x] Delete tiles (eraser mode in tiles tool)
- [ ] Delete with select tool
- [ ] Transform with select tool
- [ ] Add tile layer
- [ ] Remove tile layer
- [ ] Background color change, viewport prop. change (can be unified into one operation)
- [ ] Background prop. change (can be unified with the previ

[2022-08-19 11:34] #76 closed

[2022-08-19 13:31] #39 closed

[2022-08-21 11:25] #345 closed

[2022-08-21 11:26] #269 closed

[2022-08-21 11:30] #353 closed

[2022-08-24 17:32] omartek opened #359 "Error: Argument isUi is missing in the event Timer1"
Error appears when a new timer event is added to a template.
UI event flag is set `undefined` by default. If you tick and set it to true/false problem is solved.

[2022-08-25 04:20] #359 closed

[2022-08-28 16:49] omartek opened #361 "import texture: total grid dimensions mustn't exceed texture dimensions"
If one dimension of the grid exceeds texture dimension (the imported .png) an error arrests the loading of the project.
Look example below, imported texture is 963 pixel. I edited .ict file to open after understanding the problem.

Could you make this check before saving texture settings or during width/height fields filling? Also automatic calculation using png dimension and columuns/rows values

[2022-09-03 07:26] #361 closed

[2022-09-09 08:07] CosmoMyzrailGorynych commented on #355
Blocked by https://github.com/nwutils/nw-builder/issues/641

[2022-09-13 11:32] CosmoMyzrailGorynych commented on #227
Closing as it is actually a duplicate of #67

[2022-09-13 11:32] #227 closed

[2022-10-01 14:29] markmehere commented on #122
I wouldn't mark this stale just yet.

[2022-10-01 14:31] markmehere commented on #45
Not stale. I thought this too. Always disappointing to lose some code while transferring stuff.

[2022-10-02 02:14] FlipFloop opened #379 "✨ Use Tauri instead of Electron for desktop game builds"
**Is your feature request related to a problem?**
No, just huge build sizes.
[Tauri](https://tauri.app/) is a superb solution that has made me move away from Electron entirely.

**Describe the solution you'd like**
We should build for web, and just import the HTML into a Tauri project and build there. It would result in much smaller desktop sizes.

**Describe alternatives you've considered (option

[2022-10-02 03:20] CosmoMyzrailGorynych commented on #379
What about steamworks support?

[2022-10-02 03:53] CosmoMyzrailGorynych commented on #331
NO

[2022-10-02 05:56] CosmoMyzrailGorynych opened #381 "Replace patreon tab with boosty"
**Describe the current state of the problem**
There is still an old patreon tab in ct.js, and patrons from Boosty are not displayed, too.

**Describe the solution you'd like**
Replace it. Will need to drop `patronsCache.csv` as there is no automated way to pull patrons from boosty.to.

**Describe alternatives you've considered (optional)**
—

**Additional context**
A shoutout randomized line can b

[2022-10-02 18:50] FlipFloop commented on #379
How does it work right now? This should just make a smaller executable.

[2022-10-02 22:46] CosmoMyzrailGorynych commented on #379
It doesn't right now, yet in perspective, electron builds could use steamworks integration (aka greenworks), which everyone publishing a ct.js game would want.

[2022-10-02 23:32] FlipFloop commented on #379
Uhm, [Greenworks](https://github.com/greenheartgames/greenworks) says to not use them anymore? There are alternatives though. Anyway for Rust/Tauri there isn't a [plugin](https://tauri.app/v1/guides/features/plugin/) I've seen yet but maybe one can be written.
I'll look into this. I just want build sizes to shrink for desktop ATM.

[2022-10-03 04:08] FlipFloop commented on #379
I've converted a web build of the Dungeon Crawler Example to a Tauri MacOS app in 5 minutes. And built the same Example through **ct** and nw.js (the normal export option).
Here is the difference in output size. Only issue I ran into was sound didn't work, but I'm sure a quick config and digging would fix that.
![Screen Shot 2022-10-03 at 00 03 53](https://user-images.githubusercontent.com/1963505

[2022-10-04 00:22] markmehere commented on #379
@FlipFloop Dungeon Crawler uses ogg. Apple/Safari (and their WebKit variants) don't support ogg. A solution is to give the user multiple export options. I was going to actually roll my own app wrappers - but I actually think your idea @FlipFloop done right could be superior.

One thing @CosmoMyzrailGorynych is running up against is Gitlab build limit constraints so a solution that reintroduces ffm

[2022-10-04 03:43] CosmoMyzrailGorynych commented on #379
A friendly reminder that Tauri and everything "make crossplatform apps with a small lib!" require installation WebView2 on Windows 10, which is, with electron, essencially swapping one huge dependency with another and making users install it manually.
Also everything before windows 10 will use internet explorer.

Aaaand all in all, I'm against runtime zoo. There will be hidden issues no one will w

[2022-10-04 23:21] markmehere commented on #379
Just quietly 🤐, I really love WebView2! It is a shared Microsoft-signed huge dependency and I suspect in time will become a default framework (Windows 12 🤞).

Good pick up on the `ct.desktop` and `ct.fs` requirements. Sounds like this [isn't a show-stopper](https://tauri.app/v1/api/js/fs/) for Tauri and probably would be for rolling my own solution.

One thing to note because Ct.js is exporting us

[2022-10-05 01:56] CosmoMyzrailGorynych commented on #379
https://www.npmjs.com/package/ffmpeg-static can be used, too

[2022-10-05 02:24] FlipFloop commented on #379
So @markmehere you're in favor of Tauri? I was reading up on the [Tauri docs](https://tauri.app/v1/guides/building/cross-platform) and trying to scheme. I don't get this whole `ogg` stuff though. Also,

Tauri comes with many, many plugins like this. I think honestly we can get away with building for the web, then moving the generated files in a default Tauri project, changing some parameters in th

[2022-10-05 03:17] markmehere commented on #379
@FlipFloop I've been thinking it over and yes I am in favour of Tauri! Regarding ogg...

https://caniuse.com/ogg-vorbis

The thing is the lack of Ogg Vorbis extends to the game when visited by Safari on the web or iOS. So maybe we should solve it once and for all. My instinct is to do the Ogg-to-MP3 conversions for the user, but there is a compelling case to just warn the user (e.g. you're using o